@charset "UTF-8";
html[data-font-size="default"] {
  font-size: 100%; }

html[data-font-size="medium"] {
  font-size: 120%; }

html[data-font-size="large"] {
  font-size: 150%; }

html[data-letter-spacing="default"] body #wrapwrap {
  letter-spacing: normal; }

html[data-letter-spacing="medium"] body #wrapwrap {
  letter-spacing: 2px; }

html[data-letter-spacing="large"] body #wrapwrap {
  letter-spacing: 5px; }

html[data-spec-vers="enable"] .main-menu {
  height: auto; }

/* white */
html[data-theme="white"] body {
  color: #000;
  background-color: #fff; }

html[data-theme="white"] h2.inner-title {
  color: #000; }

html[data-theme="white"] a {
  color: #000;
  border-color: #000; }
  html[data-theme="white"] a:hover {
    border-color: transparent; }

html[data-theme="white"] #wrapwrap .top-line,
html[data-theme="white"] #wrapwrap .head-content,
html[data-theme="white"] #wrapwrap .main-sect,
html[data-theme="white"] #wrapwrap .main-head,
html[data-theme="white"] #wrapwrap .main-menu,
html[data-theme="white"] #wrapwrap .navaslider,
html[data-theme="white"] #wrapwrap .main-footer,
html[data-theme="white"] #wrapwrap .foot-first-level,
html[data-theme="white"] #wrapwrap .foot-second-level,
html[data-theme="white"] #wrapwrap .wrap-bg-grey,
html[data-theme="white"] #wrapwrap .page-sidebars {
  background-color: #fff; }
  html[data-theme="white"] #wrapwrap .top-line__sidebar, html[data-theme="white"] #wrapwrap .top-line__content,
  html[data-theme="white"] #wrapwrap .head-content__sidebar,
  html[data-theme="white"] #wrapwrap .head-content__content,
  html[data-theme="white"] #wrapwrap .main-sect__sidebar,
  html[data-theme="white"] #wrapwrap .main-sect__content,
  html[data-theme="white"] #wrapwrap .main-head__sidebar,
  html[data-theme="white"] #wrapwrap .main-head__content,
  html[data-theme="white"] #wrapwrap .main-menu__sidebar,
  html[data-theme="white"] #wrapwrap .main-menu__content,
  html[data-theme="white"] #wrapwrap .navaslider__sidebar,
  html[data-theme="white"] #wrapwrap .navaslider__content,
  html[data-theme="white"] #wrapwrap .main-footer__sidebar,
  html[data-theme="white"] #wrapwrap .main-footer__content,
  html[data-theme="white"] #wrapwrap .foot-first-level__sidebar,
  html[data-theme="white"] #wrapwrap .foot-first-level__content,
  html[data-theme="white"] #wrapwrap .foot-second-level__sidebar,
  html[data-theme="white"] #wrapwrap .foot-second-level__content,
  html[data-theme="white"] #wrapwrap .wrap-bg-grey__sidebar,
  html[data-theme="white"] #wrapwrap .wrap-bg-grey__content,
  html[data-theme="white"] #wrapwrap .page-sidebars__sidebar,
  html[data-theme="white"] #wrapwrap .page-sidebars__content {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 #000, 0 0 0 1px #000;
            box-shadow: 0 1px 0 0 #000, 0 0 0 1px #000; }

html[data-theme="white"] #wrapwrap .sidebar-navigation__item {
  border-color: #ccc; }

html[data-theme="white"] #wrapwrap .sidebar-navigation__link {
  border-left: 3px solid transparent; }
  html[data-theme="white"] #wrapwrap .sidebar-navigation__link:hover, html[data-theme="white"] #wrapwrap .sidebar-navigation__link:focus, html[data-theme="white"] #wrapwrap .sidebar-navigation__link:active {
    border-bottom: none;
    background-color: #ccc;
    color: #000; }
  html[data-theme="white"] #wrapwrap .sidebar-navigation__link--active {
    border-left-color: #000;
    background-color: #ccc; }

html[data-theme="white"] #wrapwrap .breadcrumbs__line-element::after {
  color: #000; }

html[data-theme="white"] #wrapwrap .breadcrumbs__link {
  color: #000;
  border-color: #000; }
  html[data-theme="white"] #wrapwrap .breadcrumbs__link--home:hover .breadcrumbs__link--home-icon,
  html[data-theme="white"] #wrapwrap .breadcrumbs__link--home:hover .breadcrumbs__link--home-text, html[data-theme="white"] #wrapwrap .breadcrumbs__link--home:focus .breadcrumbs__link--home-icon,
  html[data-theme="white"] #wrapwrap .breadcrumbs__link--home:focus .breadcrumbs__link--home-text, html[data-theme="white"] #wrapwrap .breadcrumbs__link--home:active .breadcrumbs__link--home-icon,
  html[data-theme="white"] #wrapwrap .breadcrumbs__link--home:active .breadcrumbs__link--home-text {
    color: #000; }
  html[data-theme="white"] #wrapwrap .breadcrumbs__link--home:hover .breadcrumbs__link--home-text, html[data-theme="white"] #wrapwrap .breadcrumbs__link--home:focus .breadcrumbs__link--home-text, html[data-theme="white"] #wrapwrap .breadcrumbs__link--home:active .breadcrumbs__link--home-text {
    border-color: #000; }
  html[data-theme="white"] #wrapwrap .breadcrumbs__link--home-icon {
    color: #000; }
  html[data-theme="white"] #wrapwrap .breadcrumbs__link--home-text {
    border-bottom: 1px solid #000; }
    html[data-theme="white"] #wrapwrap .breadcrumbs__link--home-text:hover, html[data-theme="white"] #wrapwrap .breadcrumbs__link--home-text:focus, html[data-theme="white"] #wrapwrap .breadcrumbs__link--home-text:active {
      border-color: #000; }
  html[data-theme="white"] #wrapwrap .breadcrumbs__link--disabled {
    color: #000; }
    html[data-theme="white"] #wrapwrap .breadcrumbs__link--disabled:hover, html[data-theme="white"] #wrapwrap .breadcrumbs__link--disabled:focus, html[data-theme="white"] #wrapwrap .breadcrumbs__link--disabled:active {
      color: #000; }

html[data-theme="white"] #wrapwrap .foot-first-level,
html[data-theme="white"] #wrapwrap .top-line {
  height: auto; }

html[data-theme="white"] #wrapwrap .foot-first-level,
html[data-theme="white"] #wrapwrap .first-foot-line {
  border-bottom: 1px solid #000; }

html[data-theme="white"] #wrapwrap .second-foot-line .col-md-6:nth-child(2) {
  border-right-color: #000; }

html[data-theme="white"] #wrapwrap .dekstop-target-menu {
  height: auto;
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

html[data-theme="white"] #wrapwrap .navaslider {
  margin-top: 0; }

html[data-theme="white"] #wrapwrap .main-menu,
html[data-theme="white"] #wrapwrap .main-footer {
  border-top: 1px solid #000; }

html[data-theme="white"] #wrapwrap .main-menu {
  border-bottom: 1px solid #000; }

html[data-theme="white"] #wrapwrap h2.inner-title,
html[data-theme="white"] #wrapwrap h2.inner-title--no-caps,
html[data-theme="white"] #wrapwrap .title-border {
  border-color: #000; }

html[data-theme="white"] #wrapwrap .top-line {
  -webkit-box-shadow: 0 1px 0 #000;
          box-shadow: 0 1px 0 #000; }
  html[data-theme="white"] #wrapwrap .top-line .quick-links a {
    color: #000;
    border-color: #000; }
  html[data-theme="white"] #wrapwrap .top-line .spec-vers-wrap .btn-active-spec-ver {
    color: #000; }
  html[data-theme="white"] #wrapwrap .top-line .main-logo img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
  html[data-theme="white"] #wrapwrap .top-line .res-links .droplist-main__btn {
    color: #000; }
  html[data-theme="white"] #wrapwrap .top-line .res-links .droplist-main__sub-sub-title {
    color: #000; }
  html[data-theme="white"] #wrapwrap .top-line .res-links .droplist-main__sub-sub-content a {
    color: #000; }
  html[data-theme="white"] #wrapwrap .top-line .flag-links .btn-ru {
    background-color: #ccc; }
  html[data-theme="white"] #wrapwrap .top-line .flag-links li {
    background-color: #ccc; }

html[data-theme="white"] #wrapwrap .dropdown-menu li {
  border-color: #000; }
  html[data-theme="white"] #wrapwrap .dropdown-menu li a {
    color: #000; }

html[data-theme="white"] #wrapwrap .head-content .main-title {
  color: #000;
  text-shadow: none; }

html[data-theme="white"] #wrapwrap .wrap-target-menu li {
  border-color: #000; }
  html[data-theme="white"] #wrapwrap .wrap-target-menu li a {
    color: #000; }

html[data-theme="white"] #wrapwrap .wrap-inner-audit-menu {
  border-bottom: 1px solid #000; }

html[data-theme="white"] #wrapwrap .main-sect {
  border-bottom: 1px solid #000; }
  html[data-theme="white"] #wrapwrap .main-sect:last-child {
    border-bottom: none; }
  html[data-theme="white"] #wrapwrap .main-sect h2 {
    color: #000; }

html[data-theme="white"] #wrapwrap .grey-sect {
  background-color: #fff; }

html[data-theme="white"] #wrapwrap .blue-sect {
  color: #000; }

html[data-theme="white"] #wrapwrap .news-sect .wrap-target-other-news .target-other-news {
  border-color: #ccc;
  background-color: #f0f0f0; }
  html[data-theme="white"] #wrapwrap .news-sect .wrap-target-other-news .target-other-news span {
    color: #000; }

html[data-theme="white"] #wrapwrap .wrap-cards-news .wrap-card-item-news {
  background-color: #ccc; }

html[data-theme="white"] #wrapwrap .wrap-cards-news .wrap-news-content {
  color: #000; }
  html[data-theme="white"] #wrapwrap .wrap-cards-news .wrap-news-content time {
    color: #000; }
  html[data-theme="white"] #wrapwrap .wrap-cards-news .wrap-news-content .wrap-news-title h3:hover {
    border-color: #000; }

html[data-theme="white"] #wrapwrap .common-news .date-public {
  color: #000;
  border-color: #000; }

html[data-theme="white"] #wrapwrap .rector-sect .wrap-rector-img {
  border-color: #ccc; }

html[data-theme="white"] #wrapwrap .comment-students-sect .wrap-comment-img {
  border-color: #ccc; }

html[data-theme="white"] #wrapwrap .comment-students-sect .comment-student-slider .owl-dots .owl-dot {
  background-color: #ccc; }

html[data-theme="white"] #wrapwrap .comment-students-sect .comment-student-slider .owl-dots .owl-dot.active {
  background-color: #333; }

html[data-theme="white"] #wrapwrap .pa-sect .owl-dots .owl-dot,
html[data-theme="white"] #wrapwrap .main-slider.owl-carousel .owl-dots .owl-dot {
  background-color: #ccc;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

html[data-theme="white"] #wrapwrap .pa-sect .owl-dots .owl-dot.active,
html[data-theme="white"] #wrapwrap .main-slider.owl-carousel .owl-dots .owl-dot.active {
  background-color: #333; }

html[data-theme="white"] #wrapwrap .main-menu .wrap-main-menu .wrap-inner-common-menu {
  border-color: #000; }

html[data-theme="white"] #wrapwrap .main-menu .wrap-main-menu ul > li.droplist-open a {
  background-color: #ccc; }

html[data-theme="white"] #wrapwrap .main-menu .wrap-main-menu ul > li a {
  color: #000; }
  html[data-theme="white"] #wrapwrap .main-menu .wrap-main-menu ul > li a:hover {
    background-color: #ccc; }

html[data-theme="white"] #wrapwrap .main-menu .wrap-main-menu ul > li .droplist-content {
  background-color: #ccc; }
  html[data-theme="white"] #wrapwrap .main-menu .wrap-main-menu ul > li .droplist-content li {
    border-color: #000; }

html[data-theme="white"] #wrapwrap .wrap-target-menu li a.head-content {
  color: #000; }

html[data-theme="white"] #wrapwrap .other-link {
  color: #000;
  border-color: #000; }
  html[data-theme="white"] #wrapwrap .other-link a {
    color: #000;
    border-color: #000; }

html[data-theme="white"] #wrapwrap .main-footer {
  color: #000; }
  html[data-theme="white"] #wrapwrap .main-footer a {
    color: #000;
    border-color: #000; }
  html[data-theme="white"] #wrapwrap .main-footer .wrap-foot-contancts .foot-social-list img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
  html[data-theme="white"] #wrapwrap .main-footer .wrap-foot-contancts .foot-feedback .button-light-blue {
    background-color: #ccc;
    color: #000;
    border-color: #b3b3b3; }

html[data-theme="white"] #wrapwrap .wrap-dis-page .dis-meta-info {
  border-color: #000; }

html[data-theme="white"] #wrapwrap .wrap-dis-page .dis-docs ul li a {
  color: #000;
  border-color: #000; }

html[data-theme="white"] #wrapwrap .wrap-events-list .wrap-events-date-filter {
  border-color: #000; }
  html[data-theme="white"] #wrapwrap .wrap-events-list .wrap-events-date-filter ul li.active a {
    color: #000;
    background-color: #ccc; }
  html[data-theme="white"] #wrapwrap .wrap-events-list .wrap-events-date-filter ul li a {
    color: #000; }
    html[data-theme="white"] #wrapwrap .wrap-events-list .wrap-events-date-filter ul li a:hover {
      color: #000;
      background-color: #f0f0f0; }

html[data-theme="white"] #wrapwrap .wrap-events-list .wrap-events-category li {
  border-color: #000; }
  html[data-theme="white"] #wrapwrap .wrap-events-list .wrap-events-category li.active a {
    background-color: #f0f0f0; }
  html[data-theme="white"] #wrapwrap .wrap-events-list .wrap-events-category li a {
    color: #000;
    background-color: #ccc; }
    html[data-theme="white"] #wrapwrap .wrap-events-list .wrap-events-category li a:hover {
      background-color: #f0f0f0; }

html[data-theme="white"] #wrapwrap .wrap-events-list .wrap-events-content .event-category {
  color: #000;
  border-color: #000; }

html[data-theme="white"] #wrapwrap .wrap-events-list .wrap-events-content .table-events tbody .event-title a {
  color: #000;
  border-color: #000; }

html[data-theme="white"] #wrapwrap .table > thead > tr > th,
html[data-theme="white"] #wrapwrap .table > tbody > tr > th,
html[data-theme="white"] #wrapwrap .table > tfoot > tr > th,
html[data-theme="white"] #wrapwrap .table > thead > tr > td,
html[data-theme="white"] #wrapwrap .table > tbody > tr > td,
html[data-theme="white"] #wrapwrap .table > tfoot > tr > td {
  border-color: #000; }

html[data-theme="white"] #wrapwrap .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #f0f0f0; }

html[data-theme="white"] #wrapwrap #div_nav_panel #nav_panel li button {
  color: #000;
  background-color: #ccc;
  border-color: #000; }
  html[data-theme="white"] #wrapwrap #div_nav_panel #nav_panel li button.active, html[data-theme="white"] #wrapwrap #div_nav_panel #nav_panel li button:hover {
    background-color: #f0f0f0;
    color: #000; }

html[data-theme="white"] #wrapwrap .wrap-standart-item a {
  background-color: #ccc; }

html[data-theme="white"] #wrapwrap .wrap-standart-item .wrap-icon i {
  color: #000; }

html[data-theme="white"] #wrapwrap .wrap-standart-item h3 {
  color: #000; }

html[data-theme="white"] #wrapwrap .pa-sect .wrap-pa-item strong {
  color: #000; }

html[data-theme="white"] #wrapwrap .infographics-sect .wrap-infographics-content {
  color: #000; }

html[data-theme="white"] #wrapwrap .event-item .wrap-date-event {
  border-color: #000; }
  html[data-theme="white"] #wrapwrap .event-item .wrap-date-event .event-month {
    color: #000; }

html[data-theme="white"] #wrapwrap .event-item .event-content h3 a {
  color: #000; }
  html[data-theme="white"] #wrapwrap .event-item .event-content h3 a:hover {
    border-color: #000; }

html[data-theme="white"] #wrapwrap .event-item .calendar-icon strong {
  color: #000; }

html[data-theme="white"] #wrapwrap .event-item .calendar-icon span {
  background-color: #333;
  -webkit-box-shadow: 0 2px 0 #000;
          box-shadow: 0 2px 0 #000; }

html[data-theme="white"] #wrapwrap .event-item .calendar-icon span::before,
html[data-theme="white"] #wrapwrap .event-item .calendar-icon span::after {
  border-color: #ccc; }

html[data-theme="white"] #wrapwrap .tabs-container .nav-tabs > li.active > a, html[data-theme="white"] #wrapwrap .tabs-container .nav-tabs > li.active > a:hover, html[data-theme="white"] #wrapwrap .tabs-container .nav-tabs > li.active > a:focus {
  background-color: #f0f0f0; }

html[data-theme="white"] #wrapwrap .tabs-container .nav-tabs > li > a {
  background-color: #ccc;
  color: #000; }
  html[data-theme="white"] #wrapwrap .tabs-container .nav-tabs > li > a:hover, html[data-theme="white"] #wrapwrap .tabs-container .nav-tabs > li > a:focus {
    background-color: #ccc; }

html[data-theme="white"] #wrapwrap .main-accordion .accordion-item .panel-title {
  background-color: #ccc;
  color: #000; }
  html[data-theme="white"] #wrapwrap .main-accordion .accordion-item .panel-title a, html[data-theme="white"] #wrapwrap .main-accordion .accordion-item .panel-title .fa {
    color: #000; }

html[data-theme="white"] #wrapwrap .main-accordion .accordion-item .panel-body {
  background-color: #f0f0f0;
  border-color: #ccc; }

html[data-theme="white"] #wrapwrap .wrap-dis-page .dis-docs {
  background-color: #ccc; }

html[data-theme="white"] #wrapwrap .search-area .search-area-form input {
  border-color: #999; }

/* black */
html[data-theme="black"] body {
  color: #fff;
  background-color: #000; }

html[data-theme="black"] h2.inner-title {
  color: #fff; }

html[data-theme="black"] a {
  color: #fff;
  border-color: #fff; }
  html[data-theme="black"] a:hover {
    border-color: transparent; }

html[data-theme="black"] .wrap-spec-panel-controls {
  color: #000; }

html[data-theme="black"] #wrapwrap .top-line,
html[data-theme="black"] #wrapwrap .head-content,
html[data-theme="black"] #wrapwrap .main-sect,
html[data-theme="black"] #wrapwrap .main-head,
html[data-theme="black"] #wrapwrap .main-menu,
html[data-theme="black"] #wrapwrap .navaslider,
html[data-theme="black"] #wrapwrap .main-footer,
html[data-theme="black"] #wrapwrap .foot-first-level,
html[data-theme="black"] #wrapwrap .foot-second-level,
html[data-theme="black"] #wrapwrap .wrap-bg-grey {
  background-color: #000; }

html[data-theme="black"] #wrapwrap .page-sidebars__sidebar, html[data-theme="black"] #wrapwrap .page-sidebars__content {
  background-color: #000;
  -webkit-box-shadow: 0 1px 0 0 #fff, 0 0 0 1px #fff;
          box-shadow: 0 1px 0 0 #fff, 0 0 0 1px #fff; }

html[data-theme="black"] #wrapwrap .sidebar-navigation__item {
  border-color: #fff; }

html[data-theme="black"] #wrapwrap .sidebar-navigation__link {
  border-left: 3px solid transparent; }
  html[data-theme="black"] #wrapwrap .sidebar-navigation__link:hover, html[data-theme="black"] #wrapwrap .sidebar-navigation__link:focus, html[data-theme="black"] #wrapwrap .sidebar-navigation__link:active {
    border-bottom: none;
    background-color: #333;
    color: #fff; }
  html[data-theme="black"] #wrapwrap .sidebar-navigation__link--active {
    border-left-color: #fff;
    background-color: #333; }

html[data-theme="black"] #wrapwrap .foot-first-level,
html[data-theme="black"] #wrapwrap .first-foot-line {
  border-bottom: 1px solid #fff; }

html[data-theme="black"] #wrapwrap .second-foot-line .col-md-6:nth-child(2) {
  border-right-color: #fff; }

html[data-theme="black"] #wrapwrap .main-menu,
html[data-theme="black"] #wrapwrap .main-footer {
  border-top: 1px solid #fff; }

html[data-theme="black"] #wrapwrap .top-line {
  height: auto; }

html[data-theme="black"] #wrapwrap .main-menu {
  border-bottom: 1px solid #fff; }

html[data-theme="black"] #wrapwrap .other-func .other-func-item a {
  color: #fff;
  border-color: #fff; }

html[data-theme="black"] #wrapwrap .dekstop-target-menu {
  height: auto;
  background: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; }

html[data-theme="black"] #wrapwrap .navaslider {
  margin-top: 0; }

html[data-theme="black"] #wrapwrap .breadcrumbs__line-element::after {
  color: #fff; }

html[data-theme="black"] #wrapwrap .breadcrumbs__link {
  color: #fff;
  border-color: #fff; }
  html[data-theme="black"] #wrapwrap .breadcrumbs__link--home:hover .breadcrumbs__link--home-icon,
  html[data-theme="black"] #wrapwrap .breadcrumbs__link--home:hover .breadcrumbs__link--home-text, html[data-theme="black"] #wrapwrap .breadcrumbs__link--home:focus .breadcrumbs__link--home-icon,
  html[data-theme="black"] #wrapwrap .breadcrumbs__link--home:focus .breadcrumbs__link--home-text, html[data-theme="black"] #wrapwrap .breadcrumbs__link--home:active .breadcrumbs__link--home-icon,
  html[data-theme="black"] #wrapwrap .breadcrumbs__link--home:active .breadcrumbs__link--home-text {
    color: #fff; }
  html[data-theme="black"] #wrapwrap .breadcrumbs__link--home:hover .breadcrumbs__link--home-text, html[data-theme="black"] #wrapwrap .breadcrumbs__link--home:focus .breadcrumbs__link--home-text, html[data-theme="black"] #wrapwrap .breadcrumbs__link--home:active .breadcrumbs__link--home-text {
    border-color: #fff; }
  html[data-theme="black"] #wrapwrap .breadcrumbs__link--home-icon {
    color: #fff; }
  html[data-theme="black"] #wrapwrap .breadcrumbs__link--home-text {
    border-bottom: 1px solid #fff; }
    html[data-theme="black"] #wrapwrap .breadcrumbs__link--home-text:hover, html[data-theme="black"] #wrapwrap .breadcrumbs__link--home-text:focus, html[data-theme="black"] #wrapwrap .breadcrumbs__link--home-text:active {
      border-color: #fff; }
  html[data-theme="black"] #wrapwrap .breadcrumbs__link--disabled {
    color: #fff; }
    html[data-theme="black"] #wrapwrap .breadcrumbs__link--disabled:hover, html[data-theme="black"] #wrapwrap .breadcrumbs__link--disabled:focus, html[data-theme="black"] #wrapwrap .breadcrumbs__link--disabled:active {
      color: #fff; }

html[data-theme="black"] #wrapwrap h2.inner-title,
html[data-theme="black"] #wrapwrap h2.inner-title--no-caps,
html[data-theme="black"] #wrapwrap .title-border {
  border-color: #fff;
  color: #fff; }

html[data-theme="black"] #wrapwrap .top-line {
  height: auto; }
  html[data-theme="black"] #wrapwrap .top-line .quick-links a {
    color: #fff;
    border-color: #fff; }
  html[data-theme="black"] #wrapwrap .top-line .main-logo img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
  html[data-theme="black"] #wrapwrap .top-line .spec-vers-wrap .btn-active-spec-ver {
    color: #fff; }
  html[data-theme="black"] #wrapwrap .top-line .res-links .droplist-main__btn {
    color: #fff; }
    html[data-theme="black"] #wrapwrap .top-line .res-links .droplist-main__btn--active {
      background-color: #333; }
  html[data-theme="black"] #wrapwrap .top-line .res-links .droplist-main__sub-sub-title {
    background-color: #333;
    color: #fff; }
  html[data-theme="black"] #wrapwrap .top-line .res-links .droplist-main__sub-sub-content a {
    background-color: #666;
    color: #fff; }
  html[data-theme="black"] #wrapwrap .top-line .flag-links .btn-ru {
    background-color: #333; }
  html[data-theme="black"] #wrapwrap .top-line .flag-links li {
    background-color: #333; }

html[data-theme="black"] #wrapwrap .dropdown-menu li {
  border-color: #fff; }
  html[data-theme="black"] #wrapwrap .dropdown-menu li a {
    color: #fff; }

html[data-theme="black"] #wrapwrap .head-content .main-title {
  color: #fff;
  text-shadow: none; }

html[data-theme="black"] #wrapwrap .wrap-target-menu li {
  border-color: #fff; }
  html[data-theme="black"] #wrapwrap .wrap-target-menu li a {
    color: #fff; }

html[data-theme="black"] #wrapwrap .wrap-inner-audit-menu {
  border-bottom: 1px solid #fff; }

html[data-theme="black"] #wrapwrap .main-sect {
  border-bottom: 1px solid #fff; }
  html[data-theme="black"] #wrapwrap .main-sect:last-child {
    border-bottom: none; }
  html[data-theme="black"] #wrapwrap .main-sect h2 {
    color: #fff; }

html[data-theme="black"] #wrapwrap .grey-sect {
  background-color: #000; }

html[data-theme="black"] #wrapwrap .blue-sect {
  color: #fff; }

html[data-theme="black"] #wrapwrap .news-sect .wrap-target-other-news .target-other-news {
  border-color: #333;
  background-color: #666; }
  html[data-theme="black"] #wrapwrap .news-sect .wrap-target-other-news .target-other-news span {
    color: #fff; }

html[data-theme="black"] #wrapwrap .wrap-cards-news .wrap-card-item-news {
  background-color: #333; }

html[data-theme="black"] #wrapwrap .wrap-cards-news .wrap-news-content {
  color: #fff; }
  html[data-theme="black"] #wrapwrap .wrap-cards-news .wrap-news-content time {
    color: #fff; }
  html[data-theme="black"] #wrapwrap .wrap-cards-news .wrap-news-content .wrap-news-title h3:hover {
    border-color: #fff; }

html[data-theme="black"] #wrapwrap .common-news .date-public {
  color: #fff;
  border-color: #fff; }

html[data-theme="black"] #wrapwrap .rector-sect .wrap-rector-img {
  border-color: #333; }

html[data-theme="black"] #wrapwrap .comment-students-sect .wrap-comment-img {
  border-color: #333; }

html[data-theme="black"] #wrapwrap .comment-students-sect .comment-student-slider .owl-dots .owl-dot {
  background-color: #333; }

html[data-theme="black"] #wrapwrap .comment-students-sect .comment-student-slider .owl-dots .owl-dot.active {
  background-color: #222; }

html[data-theme="black"] #wrapwrap .pa-sect .owl-dots .owl-dot,
html[data-theme="black"] #wrapwrap .main-slider.owl-carousel .owl-dots .owl-dot {
  background-color: #333;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

html[data-theme="black"] #wrapwrap .pa-sect .owl-dots .owl-dot.active,
html[data-theme="black"] #wrapwrap .main-slider.owl-carousel .owl-dots .owl-dot.active {
  background-color: #222; }

html[data-theme="black"] #wrapwrap .main-menu .wrap-main-menu .wrap-inner-common-menu {
  border-color: #fff; }

html[data-theme="black"] #wrapwrap .main-menu .wrap-main-menu ul > li.droplist-open a {
  background-color: #333; }

html[data-theme="black"] #wrapwrap .main-menu .wrap-main-menu ul > li a {
  color: #fff; }
  html[data-theme="black"] #wrapwrap .main-menu .wrap-main-menu ul > li a:hover {
    background-color: #333; }

html[data-theme="black"] #wrapwrap .main-menu .wrap-main-menu ul > li .droplist-content {
  background-color: #333; }
  html[data-theme="black"] #wrapwrap .main-menu .wrap-main-menu ul > li .droplist-content li {
    border-color: #fff; }

html[data-theme="black"] #wrapwrap .wrap-target-menu li a.head-content {
  color: #fff; }

html[data-theme="black"] #wrapwrap .other-link {
  color: #fff;
  border-color: #fff; }
  html[data-theme="black"] #wrapwrap .other-link a {
    color: #fff;
    border-color: #fff; }

html[data-theme="black"] #wrapwrap .main-footer {
  color: #fff; }
  html[data-theme="black"] #wrapwrap .main-footer a {
    color: #fff;
    border-color: #fff; }
  html[data-theme="black"] #wrapwrap .main-footer .wrap-foot-contancts .foot-social-list img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
  html[data-theme="black"] #wrapwrap .main-footer .wrap-foot-contancts .foot-feedback .button-light-blue {
    background-color: #333;
    color: #fff;
    border-color: #1a1a1a; }

html[data-theme="black"] #wrapwrap .tabs-container .nav-tabs > li.active > a, html[data-theme="black"] #wrapwrap .tabs-container .nav-tabs > li.active > a:hover, html[data-theme="black"] #wrapwrap .tabs-container .nav-tabs > li.active > a:focus {
  background-color: #666; }

html[data-theme="black"] #wrapwrap .tabs-container .nav-tabs > li > a {
  background-color: #222;
  color: #fff; }
  html[data-theme="black"] #wrapwrap .tabs-container .nav-tabs > li > a:hover, html[data-theme="black"] #wrapwrap .tabs-container .nav-tabs > li > a:focus {
    background-color: #333; }

html[data-theme="black"] #wrapwrap .wrap-dis-page .dis-meta-info {
  border-color: #fff; }

html[data-theme="black"] #wrapwrap .wrap-dis-page .dis-docs ul li a {
  color: #fff;
  border-color: #fff; }

html[data-theme="black"] #wrapwrap .wrap-events-list .wrap-events-date-filter {
  border-color: #fff; }
  html[data-theme="black"] #wrapwrap .wrap-events-list .wrap-events-date-filter ul li.active a {
    color: #fff;
    background-color: #333; }
  html[data-theme="black"] #wrapwrap .wrap-events-list .wrap-events-date-filter ul li a {
    color: #fff; }
    html[data-theme="black"] #wrapwrap .wrap-events-list .wrap-events-date-filter ul li a:hover {
      color: #fff;
      background-color: #666; }

html[data-theme="black"] #wrapwrap .wrap-events-list .wrap-events-category li {
  border-color: #fff; }
  html[data-theme="black"] #wrapwrap .wrap-events-list .wrap-events-category li.active a {
    background-color: #222; }
  html[data-theme="black"] #wrapwrap .wrap-events-list .wrap-events-category li a {
    color: #fff;
    background-color: #333; }
    html[data-theme="black"] #wrapwrap .wrap-events-list .wrap-events-category li a:hover {
      background-color: #666; }

html[data-theme="black"] #wrapwrap .wrap-events-list .wrap-events-content .event-category {
  color: #fff;
  border-color: #fff; }

html[data-theme="black"] #wrapwrap .wrap-events-list .wrap-events-content .table-events tbody .event-title a {
  color: #fff;
  border-color: #fff; }

html[data-theme="black"] #wrapwrap .table > thead > tr > th,
html[data-theme="black"] #wrapwrap .table > tbody > tr > th,
html[data-theme="black"] #wrapwrap .table > tfoot > tr > th,
html[data-theme="black"] #wrapwrap .table > thead > tr > td,
html[data-theme="black"] #wrapwrap .table > tbody > tr > td,
html[data-theme="black"] #wrapwrap .table > tfoot > tr > td {
  border-color: #fff; }

html[data-theme="black"] #wrapwrap .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #222; }

html[data-theme="black"] #wrapwrap #div_nav_panel #nav_panel li button {
  color: #fff;
  background-color: #222;
  border-color: #fff; }
  html[data-theme="black"] #wrapwrap #div_nav_panel #nav_panel li button.active, html[data-theme="black"] #wrapwrap #div_nav_panel #nav_panel li button:hover {
    background-color: #666;
    color: #fff; }

html[data-theme="black"] #wrapwrap .wrap-standart-item a {
  background-color: #333; }

html[data-theme="black"] #wrapwrap .wrap-standart-item .wrap-icon i {
  color: #fff; }

html[data-theme="black"] #wrapwrap .wrap-standart-item h3 {
  color: #fff; }

html[data-theme="black"] #wrapwrap .pa-sect .wrap-pa-item strong {
  color: #fff; }

html[data-theme="black"] #wrapwrap .infographics-sect .wrap-infographics-content {
  color: #fff; }

html[data-theme="black"] #wrapwrap .event-item .wrap-date-event {
  border-color: #fff; }
  html[data-theme="black"] #wrapwrap .event-item .wrap-date-event .event-month {
    color: #fff; }

html[data-theme="black"] #wrapwrap .event-item .event-content h3 a {
  color: #fff; }
  html[data-theme="black"] #wrapwrap .event-item .event-content h3 a:hover {
    border-color: #fff; }

html[data-theme="black"] #wrapwrap .event-item .calendar-icon strong {
  color: #000; }

html[data-theme="black"] #wrapwrap .event-item .calendar-icon span {
  background-color: #222;
  -webkit-box-shadow: 0 2px 0 #fff;
          box-shadow: 0 2px 0 #fff; }

html[data-theme="black"] #wrapwrap .event-item .calendar-icon span::before,
html[data-theme="black"] #wrapwrap .event-item .calendar-icon span::after {
  border-color: #333; }

html[data-theme="black"] #wrapwrap .tabs-container .nav-tabs > li.active > a,
html[data-theme="black"] #wrapwrap .tabs-container .nav-tabs > li.active > a:hover,
html[data-theme="black"] #wrapwrap .tabs-container .nav-tabs > li.active > a:focus {
  color: #fff; }

html[data-theme="black"] #wrapwrap .main-accordion .accordion-item .panel-title {
  background-color: #333;
  color: #fff; }
  html[data-theme="black"] #wrapwrap .main-accordion .accordion-item .panel-title a, html[data-theme="black"] #wrapwrap .main-accordion .accordion-item .panel-title .fa {
    color: #fff; }

html[data-theme="black"] #wrapwrap .main-accordion .accordion-item .panel-body {
  background-color: #666;
  border-color: #333; }

html[data-theme="black"] #wrapwrap .wrap-dis-page .dis-docs {
  background-color: #333; }

html[data-theme="black"] #wrapwrap .search-area .search-area-form input {
  border-color: #999; }

/* blue */
html[data-theme="blue"] body {
  color: #063462;
  background-color: #9dd1ff; }

html[data-theme="blue"] h2.inner-title {
  color: #063462; }

html[data-theme="blue"] a {
  color: #063462;
  border-color: #063462; }
  html[data-theme="blue"] a:hover {
    border-color: transparent; }

html[data-theme="blue"] #wrapwrap .top-line,
html[data-theme="blue"] #wrapwrap .head-content,
html[data-theme="blue"] #wrapwrap .main-sect,
html[data-theme="blue"] #wrapwrap .main-head,
html[data-theme="blue"] #wrapwrap .main-menu,
html[data-theme="blue"] #wrapwrap .navaslider,
html[data-theme="blue"] #wrapwrap .main-footer,
html[data-theme="blue"] #wrapwrap .foot-first-level,
html[data-theme="blue"] #wrapwrap .foot-second-level,
html[data-theme="blue"] #wrapwrap .wrap-bg-grey {
  background-color: #9dd1ff; }

html[data-theme="blue"] #wrapwrap .page-sidebars__sidebar, html[data-theme="blue"] #wrapwrap .page-sidebars__content {
  background-color: #9dd1ff;
  -webkit-box-shadow: 0 1px 0 0 #063462, 0 0 0 1px #063462;
          box-shadow: 0 1px 0 0 #063462, 0 0 0 1px #063462; }

html[data-theme="blue"] #wrapwrap .sidebar-navigation__item {
  border-color: #063462; }

html[data-theme="blue"] #wrapwrap .sidebar-navigation__link {
  border-left: 3px solid transparent; }
  html[data-theme="blue"] #wrapwrap .sidebar-navigation__link:hover, html[data-theme="blue"] #wrapwrap .sidebar-navigation__link:focus, html[data-theme="blue"] #wrapwrap .sidebar-navigation__link:active {
    border-bottom: none;
    background-color: #7bb5f0;
    color: #063462; }
  html[data-theme="blue"] #wrapwrap .sidebar-navigation__link--active {
    border-left-color: #063462;
    background-color: #7bb5f0; }

html[data-theme="blue"] #wrapwrap .foot-first-level,
html[data-theme="blue"] #wrapwrap .top-line {
  -webkit-box-shadow: 0 1px 0 #063462;
          box-shadow: 0 1px 0 #063462; }

html[data-theme="blue"] #wrapwrap .foot-first-level,
html[data-theme="blue"] #wrapwrap .first-foot-line {
  border-bottom: 1px solid #063462; }

html[data-theme="blue"] #wrapwrap .second-foot-line .col-md-6:nth-child(2) {
  border-right-color: #063462; }

html[data-theme="blue"] #wrapwrap .main-menu {
  border-bottom: 1px solid #063462; }

html[data-theme="blue"] #wrapwrap .dekstop-target-menu {
  height: auto;
  background: #9dd1ff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top: 1px solid #063462;
  border-bottom: 1px solid #063462; }

html[data-theme="blue"] #wrapwrap .main-footer {
  border-top: 1px solid #063462; }

html[data-theme="blue"] #wrapwrap .breadcrumbs__line-element::after {
  color: #063462; }

html[data-theme="blue"] #wrapwrap .breadcrumbs__link {
  color: #063462;
  border-color: #063462; }
  html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home:hover .breadcrumbs__link--home-icon,
  html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home:hover .breadcrumbs__link--home-text, html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home:focus .breadcrumbs__link--home-icon,
  html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home:focus .breadcrumbs__link--home-text, html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home:active .breadcrumbs__link--home-icon,
  html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home:active .breadcrumbs__link--home-text {
    color: #063462; }
  html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home:hover .breadcrumbs__link--home-text, html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home:focus .breadcrumbs__link--home-text, html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home:active .breadcrumbs__link--home-text {
    border-color: #063462; }
  html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home-icon {
    color: #063462; }
  html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home-text {
    border-bottom: 1px solid #063462; }
    html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home-text:hover, html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home-text:focus, html[data-theme="blue"] #wrapwrap .breadcrumbs__link--home-text:active {
      border-color: #063462; }
  html[data-theme="blue"] #wrapwrap .breadcrumbs__link--disabled {
    color: #063462; }
    html[data-theme="blue"] #wrapwrap .breadcrumbs__link--disabled:hover, html[data-theme="blue"] #wrapwrap .breadcrumbs__link--disabled:focus, html[data-theme="blue"] #wrapwrap .breadcrumbs__link--disabled:active {
      color: #063462; }

html[data-theme="blue"] #wrapwrap h2.inner-title,
html[data-theme="blue"] #wrapwrap h2.inner-title--no-caps {
  color: #063462; }

html[data-theme="blue"] #wrapwrap .title-border {
  border-color: #7bb5f0; }
  html[data-theme="blue"] #wrapwrap .title-border h2.inner-title {
    border-color: #063462;
    color: #063462; }

html[data-theme="blue"] #wrapwrap .top-line {
  height: auto; }
  html[data-theme="blue"] #wrapwrap .top-line .quick-links a {
    color: #063462;
    border-color: #063462; }
  html[data-theme="blue"] #wrapwrap .top-line .spec-vers-wrap .btn-active-spec-ver {
    color: #063462; }
  html[data-theme="blue"] #wrapwrap .top-line .res-links .droplist-main__btn {
    color: #063462; }
    html[data-theme="blue"] #wrapwrap .top-line .res-links .droplist-main__btn--active {
      background-color: #76baff; }
  html[data-theme="blue"] #wrapwrap .top-line .res-links .droplist-main__sub-sub-title {
    background-color: #76baff;
    color: #063462; }
  html[data-theme="blue"] #wrapwrap .top-line .res-links .droplist-main__sub-sub-content a {
    background-color: #7bb5f0;
    color: #063462; }
  html[data-theme="blue"] #wrapwrap .top-line .res-links .dropdown.open .res-links-btn, html[data-theme="blue"] #wrapwrap .top-line .res-links .dropdown.open .dropdown-menu, html[data-theme="blue"] #wrapwrap .top-line .res-links .dropdown.open li {
    background-color: #76baff; }
  html[data-theme="blue"] #wrapwrap .top-line .flag-links .btn-ru {
    background-color: #76baff; }
  html[data-theme="blue"] #wrapwrap .top-line .flag-links li {
    background-color: #76baff; }

html[data-theme="blue"] #wrapwrap .other-func .other-func-item a {
  color: #063462;
  border-color: #063462; }

html[data-theme="blue"] #wrapwrap .navaslider {
  margin-top: 0; }

html[data-theme="blue"] #wrapwrap .dropdown-menu li {
  border-color: #063462; }
  html[data-theme="blue"] #wrapwrap .dropdown-menu li a {
    color: #063462; }

html[data-theme="blue"] #wrapwrap .head-content .main-title {
  color: #063462;
  text-shadow: none; }

html[data-theme="blue"] #wrapwrap .wrap-target-menu li {
  border-color: #063462; }
  html[data-theme="blue"] #wrapwrap .wrap-target-menu li a {
    color: #063462; }

html[data-theme="blue"] #wrapwrap .wrap-inner-audit-menu {
  border-bottom: 1px solid #063462; }

html[data-theme="blue"] #wrapwrap .main-sect {
  border-bottom: 1px solid #063462; }
  html[data-theme="blue"] #wrapwrap .main-sect:last-child {
    border-bottom: none; }
  html[data-theme="blue"] #wrapwrap .main-sect h2 {
    color: #063462; }

html[data-theme="blue"] #wrapwrap .grey-sect {
  background-color: #9dd1ff; }

html[data-theme="blue"] #wrapwrap .blue-sect {
  color: #063462; }

html[data-theme="blue"] #wrapwrap .news-sect .wrap-target-other-news .target-other-news {
  border-color: #76baff;
  background-color: #7bb5f0; }
  html[data-theme="blue"] #wrapwrap .news-sect .wrap-target-other-news .target-other-news span {
    color: #063462; }

html[data-theme="blue"] #wrapwrap .wrap-cards-news .wrap-card-item-news {
  background-color: #76baff; }

html[data-theme="blue"] #wrapwrap .wrap-cards-news .wrap-news-content {
  color: #063462; }
  html[data-theme="blue"] #wrapwrap .wrap-cards-news .wrap-news-content time {
    color: #063462; }
  html[data-theme="blue"] #wrapwrap .wrap-cards-news .wrap-news-content .wrap-news-title h3:hover {
    border-color: #063462; }

html[data-theme="blue"] #wrapwrap .common-news .date-public {
  color: #063462;
  border-color: #063462; }

html[data-theme="blue"] #wrapwrap .rector-sect .wrap-rector-img {
  border-color: #76baff; }

html[data-theme="blue"] #wrapwrap .comment-students-sect .wrap-comment-img {
  border-color: #76baff; }

html[data-theme="blue"] #wrapwrap .comment-students-sect .comment-student-slider .owl-dots .owl-dot {
  background-color: #76baff; }

html[data-theme="blue"] #wrapwrap .comment-students-sect .comment-student-slider .owl-dots .owl-dot.active {
  background-color: #4f8ecf; }

html[data-theme="blue"] #wrapwrap .pa-sect .owl-dots .owl-dot,
html[data-theme="blue"] #wrapwrap .main-slider.owl-carousel .owl-dots .owl-dot {
  background-color: #76baff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

html[data-theme="blue"] #wrapwrap .pa-sect .owl-dots .owl-dot.active,
html[data-theme="blue"] #wrapwrap .main-slider.owl-carousel .owl-dots .owl-dot.active {
  background-color: #4f8ecf; }

html[data-theme="blue"] #wrapwrap .main-menu .wrap-main-menu .wrap-inner-common-menu {
  border-color: #063462; }

html[data-theme="blue"] #wrapwrap .main-menu .wrap-main-menu ul > li.droplist-open a {
  background-color: #76baff; }

html[data-theme="blue"] #wrapwrap .main-menu .wrap-main-menu ul > li a {
  color: #063462; }
  html[data-theme="blue"] #wrapwrap .main-menu .wrap-main-menu ul > li a:hover {
    background-color: #76baff; }

html[data-theme="blue"] #wrapwrap .main-menu .wrap-main-menu ul > li .droplist-content {
  background-color: #76baff; }
  html[data-theme="blue"] #wrapwrap .main-menu .wrap-main-menu ul > li .droplist-content li {
    border-color: #063462; }

html[data-theme="blue"] #wrapwrap .wrap-target-menu li a.head-content {
  color: #063462; }

html[data-theme="blue"] #wrapwrap .other-link {
  color: #063462;
  border-color: #063462; }
  html[data-theme="blue"] #wrapwrap .other-link a {
    color: #063462;
    border-color: #063462; }

html[data-theme="blue"] #wrapwrap .main-footer {
  color: #063462; }
  html[data-theme="blue"] #wrapwrap .main-footer a {
    color: #063462;
    border-color: #063462; }
  html[data-theme="blue"] #wrapwrap .main-footer .wrap-foot-contancts .foot-feedback .button-light-blue {
    background-color: #76baff;
    color: #063462;
    border-color: #43a0ff; }

html[data-theme="blue"] #wrapwrap .tabs-container .nav-tabs > li.active > a, html[data-theme="blue"] #wrapwrap .tabs-container .nav-tabs > li.active > a:hover, html[data-theme="blue"] #wrapwrap .tabs-container .nav-tabs > li.active > a:focus {
  background-color: #7bb5f0; }

html[data-theme="blue"] #wrapwrap .tabs-container .nav-tabs > li > a {
  background-color: #4f8ecf;
  color: #063462; }
  html[data-theme="blue"] #wrapwrap .tabs-container .nav-tabs > li > a:hover, html[data-theme="blue"] #wrapwrap .tabs-container .nav-tabs > li > a:focus {
    background-color: #76baff; }

html[data-theme="blue"] #wrapwrap .wrap-dis-page .dis-meta-info {
  border-color: #063462; }

html[data-theme="blue"] #wrapwrap .wrap-dis-page .dis-docs ul li a {
  color: #063462;
  border-color: #063462; }

html[data-theme="blue"] #wrapwrap .wrap-events-list .wrap-events-date-filter {
  border-color: #063462; }
  html[data-theme="blue"] #wrapwrap .wrap-events-list .wrap-events-date-filter ul li.active a {
    color: #063462;
    background-color: #76baff; }
  html[data-theme="blue"] #wrapwrap .wrap-events-list .wrap-events-date-filter ul li a {
    color: #063462; }
    html[data-theme="blue"] #wrapwrap .wrap-events-list .wrap-events-date-filter ul li a:hover {
      color: #063462;
      background-color: #7bb5f0; }

html[data-theme="blue"] #wrapwrap .wrap-events-list .wrap-events-category li {
  border-color: #063462; }
  html[data-theme="blue"] #wrapwrap .wrap-events-list .wrap-events-category li.active a {
    background-color: #4f8ecf; }
  html[data-theme="blue"] #wrapwrap .wrap-events-list .wrap-events-category li a {
    color: #063462;
    background-color: #76baff; }
    html[data-theme="blue"] #wrapwrap .wrap-events-list .wrap-events-category li a:hover {
      background-color: #7bb5f0; }

html[data-theme="blue"] #wrapwrap .wrap-event-content .event-category {
  color: #063462;
  border-color: #063462; }

html[data-theme="blue"] #wrapwrap .wrap-event-content .table-events tbody .event-title a {
  color: #063462;
  border-color: #063462; }

html[data-theme="blue"] #wrapwrap .table > thead > tr > th,
html[data-theme="blue"] #wrapwrap .table > tbody > tr > th,
html[data-theme="blue"] #wrapwrap .table > tfoot > tr > th,
html[data-theme="blue"] #wrapwrap .table > thead > tr > td,
html[data-theme="blue"] #wrapwrap .table > tbody > tr > td,
html[data-theme="blue"] #wrapwrap .table > tfoot > tr > td {
  border-color: #063462; }

html[data-theme="blue"] #wrapwrap .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #4f8ecf; }

html[data-theme="blue"] #wrapwrap #div_nav_panel #nav_panel li button {
  color: #063462;
  background-color: #4f8ecf;
  border-color: #063462; }
  html[data-theme="blue"] #wrapwrap #div_nav_panel #nav_panel li button.active, html[data-theme="blue"] #wrapwrap #div_nav_panel #nav_panel li button:hover {
    background-color: #7bb5f0;
    color: #063462; }

html[data-theme="blue"] #wrapwrap .wrap-standart-item a {
  background-color: #76baff; }

html[data-theme="blue"] #wrapwrap .wrap-standart-item .wrap-icon i {
  color: #063462; }

html[data-theme="blue"] #wrapwrap .wrap-standart-item h3 {
  color: #063462; }

html[data-theme="blue"] #wrapwrap .pa-sect .wrap-pa-item strong {
  color: #063462; }

html[data-theme="blue"] #wrapwrap .infographics-sect .wrap-infographics-content {
  color: #063462; }

html[data-theme="blue"] #wrapwrap .event-item .wrap-date-event {
  border-color: #063462; }
  html[data-theme="blue"] #wrapwrap .event-item .wrap-date-event .event-month {
    color: #063462; }

html[data-theme="blue"] #wrapwrap .event-item .event-content h3 a {
  color: #063462; }
  html[data-theme="blue"] #wrapwrap .event-item .event-content h3 a:hover {
    border-color: #063462; }

html[data-theme="blue"] #wrapwrap .event-item .calendar-icon strong {
  color: #063462; }

html[data-theme="blue"] #wrapwrap .event-item .calendar-icon span {
  background-color: #4f8ecf;
  -webkit-box-shadow: 0 2px 0 #063462;
          box-shadow: 0 2px 0 #063462; }

html[data-theme="blue"] #wrapwrap .event-item .calendar-icon span::before,
html[data-theme="blue"] #wrapwrap .event-item .calendar-icon span::after {
  border-color: #76baff; }

html[data-theme="blue"] #wrapwrap .tabs-container .nav-tabs > li.active > a,
html[data-theme="blue"] #wrapwrap .tabs-container .nav-tabs > li.active > a:hover,
html[data-theme="blue"] #wrapwrap .tabs-container .nav-tabs > li.active > a:focus {
  color: #063462; }

html[data-theme="blue"] #wrapwrap .main-accordion .accordion-item .panel-title {
  background-color: #76baff;
  color: #063462; }
  html[data-theme="blue"] #wrapwrap .main-accordion .accordion-item .panel-title a, html[data-theme="blue"] #wrapwrap .main-accordion .accordion-item .panel-title .fa {
    color: #063462; }

html[data-theme="blue"] #wrapwrap .main-accordion .accordion-item .panel-body {
  background-color: #7bb5f0;
  border-color: #76baff; }

html[data-theme="blue"] #wrapwrap .wrap-dis-page .dis-docs {
  background-color: #76baff; }

html[data-theme="blue"] #wrapwrap .search-area .search-area-form input {
  border-color: #6193c6; }

html[data-img="disable"] {
  /* картинки новостей на главной */
  /* слайдер на главной */
  /* карточки новостей */
  /* mega новость */
  /* остальные улучшения */
  /* Логотип */
  /* Флаги */
  /* Иконки соц. сетей */
  /* Иконки документов */
  /* Секция баннеров other-links */ }
  html[data-img="disable"] img {
    visibility: hidden !important; }
  html[data-img="disable"] .news-sect .wrap-item-news a .news-img {
    visibility: hidden !important; }
  html[data-img="disable"] .main-slider.owl-carousel .owl-stage-outer .owl-stage .owl-item .wrap-main-slide .slide-img {
    visibility: hidden !important; }
  html[data-img="disable"] .wrap-cards-news .wrap-card-item-news .wrap-news-img {
    display: none; }
  html[data-img="disable"] .wrap-cards-news .wrap-card-item-news .news-img {
    visibility: hidden !important; }
  html[data-img="disable"] .wrap-mega-news .wrap-mega-img .mega-img {
    visibility: hidden !important; }
  html[data-img="disable"] .rector-sect .col-rector-img {
    display: none; }
  html[data-img="disable"] .rector-sect .col-rector-content {
    width: 100%; }
  html[data-img="disable"] .comment-students-sect .wrap-comment-img {
    border-color: transparent;
    display: none; }
  html[data-img="disable"] .head-content .main-title-wrap .main-logo {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
  html[data-img="disable"] .head-content .other-func .flags-list > li img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
  html[data-img="disable"] footer .wrap-foot-contancts .foot-social-list img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
  html[data-img="disable"] .doc-file::before {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
  html[data-img="disable"] .links-other .owl-carousel .links-other-item img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
