@import "vars"
/* BLACK THEME */
/* NON READY */

$black: #fff
$grey: #444
$light-grey: #222
$dark-grey: #333 

/* white */
// $white: #fff
// $black: #000
// $grey: #ccc
// $light-grey: #f0f0f0
// $dark-grey: #333