@import "vars"

html[data-img="disable"]


	img
		visibility: hidden !important

	/* картинки новостей на главной */
	.news-sect 
		.wrap-item-news	
			a
				.news-img
					visibility: hidden !important

	/* слайдер на главной */
	.main-slider.owl-carousel 
		.owl-stage-outer 
			.owl-stage 
				.owl-item 
					.wrap-main-slide 
						.slide-img
							visibility: hidden !important

	/* карточки новостей */				
	.wrap-cards-news 
		.wrap-card-item-news
			.wrap-news-img
				display: none
			.news-img
				visibility: hidden !important

	/* mega новость */			
	.wrap-mega-news 
		.wrap-mega-img
			.mega-img
				visibility: hidden !important
				
	/* остальные улучшения */
	.rector-sect
		.col-rector-img
			display: none
		.col-rector-content
			width: 100%
	.comment-students-sect 
		.wrap-comment-img
			border-color: transparent
			display: none

	/* Логотип */
	.head-content 
		.main-title-wrap 
			.main-logo
				-webkit-filter: grayscale(100%)
				-moz-filter: grayscale(100%)
				-ms-filter: grayscale(100%)
				-o-filter: grayscale(100%)
				filter: grayscale(100%)

	/* Флаги */
	.head-content 
		.other-func 
			.flags-list 
				>li 
					img
						-webkit-filter: grayscale(100%)
						-moz-filter: grayscale(100%)
						-ms-filter: grayscale(100%)
						-o-filter: grayscale(100%)
						filter: grayscale(100%)
	
	/* Иконки соц. сетей */
	footer
		.wrap-foot-contancts 
			.foot-social-list 
				img
					-webkit-filter: grayscale(100%)
					-moz-filter: grayscale(100%)
					-ms-filter: grayscale(100%)
					-o-filter: grayscale(100%)
					filter: grayscale(100%)
	
	/* Иконки документов */
	.doc-file
		&::before
			-webkit-filter: grayscale(100%)
			-moz-filter: grayscale(100%)
			-ms-filter: grayscale(100%)
			-o-filter: grayscale(100%)
			filter: grayscale(100%)

	/* Секция баннеров other-links */
	.links-other
		.owl-carousel
			.links-other-item
				img
					-webkit-filter: grayscale(100%)
					-moz-filter: grayscale(100%)
					-ms-filter: grayscale(100%)
					-o-filter: grayscale(100%)
					filter: grayscale(100%)