@import "../vars"



$black: #fff
$white: #000
$grey: #444
$light-grey: #222
$dark-grey: #333 

html.white-theme
	body
		color: $black
		background-color: $white
	h2.inner-title
		color: $black
	a
		color: $black
		border-color: $black
		&:hover
			border-color: transparent
	#wrapwrap
		.top-line,
		.head-content,
		.main-sect,
		.main-head,
		.main-menu,
		.navaslider,
		.main-footer,
		.foot-first-level,
		.foot-second-level
			background-color: $white
		.foot-first-level,
		.top-line
			border-bottom: 1px solid $black
			border-bottom: 1px solid $black
		.main-menu,
		.navaslider,
		.main-footer
			border-top: 1px solid $black
		.main-sect.pa-sect
				border: none
		h2.inner-title, h2.inner-title--no-caps
			color: $black
		.top-line
			.quick-links 
				a
					color: $black
					border-color: $black
			.main-logo 
				img
					-webkit-filter: grayscale(100%)
					-moz-filter: grayscale(100%)
					-ms-filter: grayscale(100%)
					-o-filter: grayscale(100%)
					filter: grayscale(100%)
			.res-links 
				.dropdown, .dropdown.open
					.res-links-btn
						color: $black
			.flag-links 
				.btn-ru
					background-color: $grey
				.dropdown-flags 
				li
					background-color: $grey
		.dropdown-menu 
			li 
				a
					color: $black
		.head-content 
			.main-title
				color: $black
				text-shadow: none
			.other-func
				background-color: $light-grey
				a
					color: $black
				a.info-uni
					border-color: $black
		.wrap-target-menu 
			li 
				a
					color: $black
		.wrap-inner-audit-menu
			border-bottom: 1px solid $black
		.main-sect 
			border-bottom: 1px solid $black
			h2
				color: $black
		.grey-sect
			background-color: $white	
		.blue-sect
			color: $black
		.news-sect
			.wrap-target-other-news 
				.target-other-news
					border-color: $grey
					background-color: $light-grey
					span
						color: $black
		.event-item 
			.wrap-date-event 
				.calendar-icon 
					span
						background-color: $dark-grey
						box-shadow: 0 2px 0 $black
					span::before,
					span::after
						border-color: $grey
		.rector-sect 
			.wrap-rector-img
				border-color: $grey
		.comment-students-sect 
			.wrap-comment-img
				border-color: $grey
			.comment-student-slider 
				.owl-dots 
					.owl-dot
						background-color: $grey
					.owl-dot.active
						background-color: $dark-grey
		.main-menu 
			.wrap-main-menu 
				.wrap-inner-common-menu
					border-color: $black
			ul 
				li 
					&.droplist-open
						background-color: $grey
					a
						color: $black
				li.drop
		.wrap-target-menu 
			li 
				a.head-content
					color: $black
		.other-link
			color: $black
			border-color: $black
			a
				color: $black
				border-color: $black
		footer
			color: $black
			a
				color: $black
				border-color: $black
			.wrap-foot-contancts 
				.foot-social-list 
					img
						-webkit-filter: grayscale(100%)
						-moz-filter: grayscale(100%)
						-ms-filter: grayscale(100%)
						-o-filter: grayscale(100%)
						filter: grayscale(100%)
				.foot-feedback 
					.button-light-blue
						background-color: $grey
						color: $black
						border-color: darken($grey, 10%)
		.tabs-container .nav-tabs > li.active > a, 
		.tabs-container .nav-tabs > li.active > a:hover, 
		.tabs-container .nav-tabs > li.active > a:focus
			background-color: $grey
		.tabs-container .nav-tabs > li > a:hover, 
		.tabs-container .nav-tabs > li > a:focus
			color: $black
		.wrap-dis-page 
			.dis-docs 
				ul
					li
						a
							color: $black
							border-color: $black
		.wrap-events-list 
			.wrap-events-date-filter 
				ul 
					li.active 
						a
							color: $black
							background-color: $grey
					li
						a
							&:hover
								color: $black
								background-color: $light-grey
			.wrap-events-category 
				li 
					a
						color: $black
				li.active 
					a
						background-color: $grey
		#div_nav_panel 
			#nav_panel 
				li 
					button
						&.active, &:hover
							background-color: $grey
							color: $black
		.wrap-standart-item
			a
				background-color: $grey
			.wrap-icon i
				color: $black
			h3
				color: $black
		.pa-sect 
			.wrap-pa-item 
				strong
					color: $black
		.infographics-sect 
			.wrap-infographics-content
				color: $black

		.event-item 
			.wrap-date-event .event-month
				color: $black
			.event-content h3 a
				color: $black
				&:hover
					border-color: $black

		.wrap-events-list .wrap-events-category li a:hover
			background-color: $grey
		.tabs-container .nav-tabs > li.active > a, 
		.tabs-container .nav-tabs > li.active > a:hover, 
		.tabs-container .nav-tabs > li.active > a:focus
			color: $black
		.main-accordion .accordion-item .panel-title:hover .fa, 
		.main-accordion .accordion-item .panel-title:hover a
			color: $black