@import "vars"

// Файл для касстомизации и правок админский панелей odoo

#oe_main_menu_navbar,
#oe_snippets 
	a
		border: inherit

// баг с отсутствие прокрутки блока снипетов
.editor_enable.editor_has_snippets
	#oe_snippets
		#o_left_bar
			width: 228px
			overflow-y: scroll

#oe_main_menu_navbar 
	.dropdown-menu 
		>li 
			>a
				&:hover, &:focus
					color: #fff
					background-color: #ea2f1c
					
.oe_menu_editor
	.fa
		font-size: 14px
		padding: 9px 12px
	.fa.fa-home
		padding: 0
	.input-group-addon, .input-group-btn, .input-group .form-control
		display: table-cell
	.input-group.ui-sortable-handle
		margin-bottom: 8px

.main-menu
	.ul-inner-menu
		.dropdown
			position: absolute
			right: 0

