@import "vars"

/*==========  Desktop First  ==========*/

/* for 1920px */
@media only screen and (max-width : 1900px)
	#wrapwrap
		.top-line
			.main-logo-wrap
				width: 196px
			.quick-links-wrap
				width: 913px
			.main-logo
				width: 196px
				height: 203px
				img
					width: 170px
					height: 170px
		.head-content
			padding: 25px 0 50px 0 
			.main-title
				margin-left: 220px
				font-size: 28px
				line-height: 32px
			.reshetnev
				font-size: 28px
			.other-func
				padding: 8px 20px
				a
					font-size: 22px
				a.info-uni
					font-size: 18px
		.col-rector-img
			width: 30%
		.col-rector-content
			width: 70%
	

/* for 1600px */
@media only screen and (max-width : 1580px)
	#wrapwrap
		.top-line
			.quick-links-wrap
				width: 593px
		.main-title
			font-size: 25px
			line-height: 29px
		.reshetnev
			font-size: 25px
		.head-content
			.other-func
				padding: 12px 20px
				a
					font-size: 18px
				a.info-uni
					font-size: 16px
		.event-item
			padding: 0 10px
		.news-sect 
			.wrap-item-news
				height: 220px
				.wrap-news-content
					.news-content
						time,h3
							font-size: 15px
							line-height: 18px
			.wrap-first-news
				height: 440px
				.wrap-news-content
					.news-content
						time,h3
							font-size: 24px
							line-height: 28px
		.rector-sect
			.col-rector-img
				width: 35%
			.col-rector-content
				width: 65%
		.foot-first-level 
			.wrap-foot-level
				margin: 0
			.col-md-6
				padding: 0 15px

		.dekstop-target-menu
			width: 220px
			padding: 30px 30px 30px 0
		.wrap-target-menu
			li
				a
					font-size: 22px
				i
					width: 35px
				// i.icon-academec
				// 	width: 30px
		.main-slider.owl-carousel
			left: 220px

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1260px)
	#wrapwrap
		.top-line
			.main-logo-wrap
				width: 181px
			.quick-links-wrap
				width: 443px
			.res-links-wrap
				width: 270px
			.res-links
				.res-links-btn
				font-size: 14px
			.main-logo
				width: 181px
				height: 188px
				img
					width: 155px
					height: 155px
		.head-content
			.main-title
				margin-left: 200px
				font-size: 20px
				line-height: 24px
			.reshetnev
				font-size: 20px
			.other-func
				padding: 10px 15px
				a
					font-size: 16px
					margin: 9px 0
				a.info-uni
					font-size: 14px
		.main-menu
			.wrap-main-menu
				>ul
					>li 
						>a
							font-size: 13px
							padding: 15px 10px 
		.event-item
			padding: 0
		.news-sect 
			.wrap-item-news
				height: 180px
				.wrap-news-content
					.news-content
						time,h3
							position: absolute
							font-size: 13px
							line-height: 16px
			.wrap-first-news
				height: 360px
				.wrap-news-content
					.news-content
						time,h3
							font-size: 18px
							line-height: 22px
			.wrap-target-other-news
				.target-other-news
					span
						font-size: 20px	
		.rector-sect
			.wrap-rector-content
				margin-top: 15px
				font-size: 15px
				line-height: 19px
				strong
					font-size: 18px
				.signature-rector
					font-size: 18px
					margin-top: 15px


@media only screen and (max-width : 1260px) and (min-width: 992px)
	#wrapwrap
		.first-foot-line
			a
				font-size: 13px
		.pa-sect
			.wrap-pa-item
				img
					width: 190px
					height: 110px
				strong
					font-size: 17px
					line-height: 22px
		.foot-first-level 
			.wrap-foot-contancts 
				.foot-social-list
					li
						margin-right: 8px
					img
						width: 35px
						height: 35px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	#wrapwrap
		.mobile-menu-button-wrap
			display: inline-block
		.head-content 
			.other-func
				display: none
		.top-line
			.main-logo-wrap
				// margin-left: 15px
				// width: 140px
				display: none
			.main-logo
				width: 140px
				height: 150px
				padding: 20px 10px 10px 10px
				img
					width: 120px
					height: 120px
			.quick-links-wrap
				display: none
			.res-links-wrap
				display: none
			.flag-links-wrap
				float: right
		.head-content
			padding: 15px 0 20px 0
			.container
				padding: 0 15px
			.main-title
				margin-left: 0
				display: block
				// text-align: center
			.other-func
				float: none
				margin-top: 30px
				a.info-uni
					display: inline-block
					margin-top: 0
		.main-menu
			display: none
		.nav
			.mobile-quick-link
				display: block
				border-top: 1px solid $light-line
		.events-sect
			.event-item
				margin-bottom: 50px
			.other-link
				margin-top: -20px
		.rector-sect
			.col-rector-img
				width: 100%
			.col-rector-content
				width: 100%
			.wrap-rector-img
				width: 300px
				margin: 0 auto
			.wrap-rector-content
				.signature-rector
					margin-top: 30px
		.infographics-sect
			padding-bottom: 30px 
			.wrap-infographics-content
				margin-bottom: 20px
		.navaslider
			height: 350px
			.container
				padding: 0
			.dekstop-target-menu
				display: none
			.main-slider.owl-carousel
				left: 0
				height: 350px

		/* v1 */		
		// .mobile-target-menu
		// 	display: block
		// 	padding: 15px 0
		// 	border-top: 1px solid $light-line
		// 	border-bottom: 1px solid $light-line
		// 	li
		// 		a
		// 			color: #fff
		// 			font-size: 22px
		// 			padding: 10px 0
		// 			&:hover
		// 				color: $yellow
		// 			i
		// 				width: 35px
		// 			i.icon-academec
		// 				width: 30px

		/* v2 */					
		.mobile-target-menu
			display: block
			border-top: 1px solid $light-line
			border-bottom: 1px solid $light-line
			.container
				padding: 0
			li
				width: 20%
				float: left
				border-bottom: none
				border-right: 1px solid $light-line
				padding: 10px 5px
				text-align: center
				&:last-child
					border-right: none
				a
					color: #fff
					font-size: 14px
					&:hover
						color: $yellow
				i
					font-size: 44px
					display: block
					text-align: center
					width: 100%
					margin-bottom: 10px
				// i.icon-academec
				// 	width: 100%


		.foot-first-level
			padding: 20px 0
			.wrap-foot-level
				padding: 0
				.col-md-6
					padding: 15px 0
				.col-sm-12
					padding-right: 15px
				li
					a
						font-size: 15px
			.second-foot-line
				padding: 20px 0 0 0

		.second-foot-line
			.col-md-6
				&:nth-child(2)
					border-right: none
			 .foot-contacts-content-col-2
		.uit
			display: none
		
			

			

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	#wrapwrap
		.foot-first-level
			.second-foot-line 
				.foot-contacts-content-col-2
					margin-top: 0
			

@media only screen and (max-width : 620px)
	#wrapwrap
		.head-content
			.main-title
				font-size: 18px
				line-height: 22px
			.reshetnev
				font-size: 18px
		.comment-students-sect
			.comment-student-slider
				.wrap-comment-img
					float: none
					margin: 0 auto 15px auto
					border: 12px solid $dark-blue
					border-radius: 1px
					width: 180px
					height: 270px
					width: 204px
					height: 294px
		/* v2 */
		.mobile-target-menu
			li
				padding: 10px 5px
				a
					font-size: 12px
					letter-spacing: 0
				i
					font-size: 36px
					margin-bottom: 10px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	#wrapwrap
		.top-line
			.main-logo-wrap
				margin-left: 15px
				width: 80px
			.main-logo
				width: 70px
				height: 75px
				padding: 10px 5px 5px 5px
				img
					width: 60px
					height: 60px
		.head-content
			// .main-title
			// 	margin: 20px 0 0 0
			// 	text-align: center
			// 	display: block
			.other-func 
				a.info-uni
					font-size: 13px
		.nav
			.mobile-quick-link
				a
					i
						font-size: 30px
						margin-bottom: 5px
					span
						font-size: 10px
		.infographics-sect
			.wrap-infographics-content
				img
					width: 135px
					height: 135px
				strong
					font-size: 28px
					margin-top: 15px
				p
					margin: 0 0 30px 0
					font-size: 15px
		.rector-sect
			.wrap-rector-img
				width: 100%
				margin: 0

		/* v2 */
		.mobile-target-menu
			li
				padding: 0 5px
				a
					font-size: 10px
				i
					font-size: 30px
					margin-bottom: 5px
			

@media only screen and (max-width : 375px)
	#wrapwrap
		.news-sect
			.col-item-news
				width: 100%
				.wrap-target-other-news
					display: none
				.other-link
					display: block
					padding: 0 5px
			.wrap-first-news
				height: 180px
				.wrap-news-content
					padding: 15px
					.news-content
						time,h3
							font-size: 14px
							line-height: 17px
		.infographics-sect
			.wrap-infographics-content
				img
					width: 125px
					height: 125px
				strong
					font-size: 26px
				p
					font-size: 13px

		/* v2 */
		.mobile-target-menu
			li
				padding: 0 5px
				a
					font-size: 9px
				i
					font-size: 30px
					margin-bottom: 5px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	#wrapwrap
		.mobile-menu-button-wrap
			display: none
		.mobile-main-logo
			display: none
	// 	.hamburger
	// 		display: none



/* Large Devices, Wide Screens */
@media only screen and (min-width : 1260px)
	/**/


/* for 1600px */
@media only screen and (min-width : 1580px)
	/**/


/* for 1920px */
@media only screen and (min-width : 1900px)
	/**/
