@import "vars"

/*==========  Desktop First  ==========*/

/* for 1920px */
@media only screen and (max-width : 1900px)
	#wrapwrap
		.top-line
			.main-logo-wrap
				width: 196px
			.main-logo
				width: 196px
				height: 203px
				img
					width: 170px
					height: 170px
		.head-content
			padding: 25px 0 50px 0 
			.main-title
				margin-left: 220px
				font-size: 28px
				line-height: 32px
			.reshetnev
				font-size: 28px
			.other-func
				padding: 8px 20px
				.other-func-item
					font-size: 22px
				a.info-uni
					font-size: 18px
		.col-rector-img
			width: 30%
		.col-rector-content
			width: 70%
		.photo-album-list
			&-item
				height: 150px
	

/* for 1600px */
@media only screen and (max-width : 1580px)
	html
		font-size: 95%
	#wrapwrap
		.main-title
			font-size: 25px
			line-height: 29px
		.reshetnev
			font-size: 25px
		.head-content
			.other-func
				padding: 12px 20px
				.other-func-item
					font-size: 18px
				a.info-uni
					font-size: 16px
		.event-item
			padding: 0 10px
		.news-sect 
			.wrap-item-news
				height: 220px
				.wrap-news-content
					.news-content
						time,h3
							font-size: 15px
							line-height: 18px
			.wrap-first-news
				height: 440px
				.wrap-news-content
					.news-content
						time,h3
							font-size: 24px
							line-height: 28px
		.rector-sect
			.col-rector-img
				width: 35%
			.col-rector-content
				width: 65%
		.foot-first-level 
			.wrap-foot-level
				margin: 0
			.col-md-6
				padding: 0 15px

		.dekstop-target-menu
			width: 220px
			padding: 30px 30px 30px 0
		.wrap-target-menu
			li
				a
					font-size: 22px
				i
					width: 35px
		.main-slider.owl-carousel
			left: 220px	
		.photo-album-list
			&-item
				height: 175px

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1260px)
	html
		font-size: 90%
	#wrapwrap
		.top-line
			.main-logo-wrap
				width: 181px
			.res-links
			.main-logo
				width: 181px
				height: 188px
				img
					width: 155px
					height: 155px
		.head-content
			.main-title
				margin-left: 200px
				font-size: 20px
				line-height: 24px
			.reshetnev
				font-size: 20px
			.other-func
				padding: 10px 15px
				.other-func-item
					font-size: 16px
					margin: 9px 0
				a.info-uni
					font-size: 14px

		.event-item
			padding: 0
		.news-sect 
			.wrap-item-news
				height: 180px
				.wrap-news-content
					.news-content
						time,h3
							position: absolute
							font-size: 13px
							line-height: 16px
			.wrap-first-news
				height: 360px
				.wrap-news-content
					.news-content
						time,h3
							font-size: 18px
							line-height: 22px
			.wrap-target-other-news
				.target-other-news
					span
						font-size: 20px	
		.rector-sect
			.wrap-rector-content
				margin-top: 15px
				font-size: 15px
				line-height: 19px
				strong
					font-size: 18px
				.signature-rector
					font-size: 18px
					margin-top: 15px
		.wrap-mega-news
			.wrap-mega-img
				height: 500px
				.wrap-mega-img-content
					.mega-img-content
						time, .mega-title
							font-size: 36px
							line-height: 1.2
		.spec-panel-controls
			strong
				font-size: 15px
		.wrap-toggle-img
			.switch-state-img:empty ~ label
				font-size: 15px
		.photo-album-list
			&-item
				height: 150px


@media only screen and (max-width : 1260px) and (min-width: 992px)
	#wrapwrap
		.main-menu
			ul.ul-inner-menu
				>li 
					>a
						padding: 15px 6px
						font-size: 12px 
		.pa-sect
			.wrap-pa-item
				img
					width: 190px
					height: 110px
				strong
					font-size: 17px
					line-height: 22px
		.first-foot-line
			a
				font-size: 13px
		.foot-first-level 
			.wrap-foot-contancts 
				.foot-social-list
					li
						margin-right: 8px
					img
						width: 35px
						height: 35px


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	#wrapwrap
		.wrap-spec-panel-controls
			display: none !important
		#wrap
			margin-top: 20px
		.top-line
			padding: 5px 0
			.flag-links-wrap
				padding-right: 15px
				width: 76px
		.mobile-menu-button-wrap
			display: inline-block
		.main-title-wrap
			display: block
			.mobile-logo-img-wrap,
			.main-title
				float: left
				padding: 30px 0
			.mobile-logo-img-wrap
				width: 140px
				height: 140px
				padding: 7px
				background-color: #fff
				border-radius: 50%
				margin-right: 20px
				img
					width: 100%
					height: 100%
		.head-content
			padding: 15px 0
			.container
				padding: 0 15px
			.main-title-wrap
				a
					&:hover, &:active, &:focus
						opacity: 0.85
			.other-func
				display: none
			.main-title
				margin-left: 0
				display: block
			.other-func
				float: none
				margin-top: 30px
				a.info-uni
					display: inline-block
					margin-top: 0
		.top-line
			.main-logo-wrap
				display: none
			.main-logo
				width: 140px
				height: 150px
				padding: 20px 10px 10px 10px
				img
					width: 120px
					height: 120px
			.quick-links-wrap
				display: none
			.res-links-wrap
				display: none
			.flag-links-wrap
				float: right
		.main-menu
			display: none
		.nav
			.mobile-quick-link
				display: block
				border-top: 1px solid $light-line
		.events-sect
			.event-item
				margin-bottom: 50px
			.other-link
				margin-top: -20px
		.rector-sect
			.col-rector-img
				width: 100%
			.col-rector-content
				width: 100%
			.wrap-rector-img
				width: 300px
				margin: 0 auto
			.wrap-rector-content
				.signature-rector
					margin-top: 30px
		.infographics-sect
			padding-bottom: 20px 
			.wrap-infographics-content
				margin-bottom: 30px
		.navaslider
			height: 350px
			.container
				padding: 0
			.dekstop-target-menu
				display: none
			.main-slider.owl-carousel
				left: 0
				height: 350px
		>footer 		
			.foot-first-level
				padding: 20px 0
				.wrap-foot-level
					padding: 0
					.col-md-6
						padding: 15px 0
					.col-sm-12
						padding-right: 15px
					li
						a
							// font-size: 15px
				.second-foot-line
					padding: 20px 0 0 0
					.col-md-6:nth-child(2)
						border-right: 0
			.second-foot-line
				.col-md-6
					&:nth-child(2)
						border-right: none
		.uit
			display: none
		.photo-album-list
			&-item
				height: 160px
				
			

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	html
		font-size: 85%
	#wrapwrap
		.main-sect 
			h2
				margin-bottom: 30px
		.foot-first-level
			.second-foot-line 
				.foot-contacts-content-col-2
					margin-top: 0
		#div_nav_panel
			#nav_panel
				li[name="page_nav"]
					button
						display: none
					button.active
						display: block
						margin: 0 0 0 3px
		.wrap-mega-news
			.wrap-mega-img
				height: 320px
				.wrap-mega-img-content
					padding: 15px
					.mega-img-content
						time, .mega-title
							font-size: 24px
							line-height: 1.2
		.wrap-standart-item
			margin-bottom: 15px
		.photo-album-list
			&-item
				height: 180px
			

@media only screen and (max-width : 620px)
	#wrapwrap
		.head-content
			.main-title-wrap
				display: block
				.mobile-logo-img-wrap,
				.main-title
					float: left
					padding: 30px 0
				.mobile-logo-img-wrap
					width: 50px
					height: 50px
					padding: 3px
					margin-right: 10px
				.main-title
					font-size: 12px
					line-height: 14px
					padding: 4px 0
				.reshetnev
					margin-top: 3px
					font-size: 10px
		.comment-students-sect
			.comment-student-slider
				.wrap-comment-img
					float: none
					margin: 0 auto 15px auto
					border: 12px solid $dark-blue
					border-radius: 1px
					width: 180px
					height: 270px
					width: 204px
					height: 294px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	html
		font-size: 80%
	#wrapwrap
		.top-line
			.main-logo-wrap
				margin-left: 15px
				width: 80px
			.main-logo
				width: 70px
				height: 75px
				padding: 10px 5px 5px 5px
				img
					width: 60px
					height: 60px
		.head-content
			.other-func 
				a.info-uni
					font-size: 13px
		.nav
			.mobile-quick-link
				a
					i
						font-size: 30px
						margin-bottom: 5px
					span
						font-size: 10px
		.infographics-sect
			.wrap-infographics-content
				img
					width: 135px
					height: 135px
				strong
					font-size: 28px
					margin-top: 15px
				p
					margin: 0 0 30px 0
					font-size: 15px
		.rector-sect
			.wrap-rector-img
				width: 100%
				margin: 0
		.wrap-mega-news
			.wrap-mega-img
				height: 200px
				.wrap-mega-img-content
					.mega-img-content
						time, .mega-title
							font-size: 18px
							line-height: 1.2
		.wrap-standart-item
			h3
				font-size: 18px
			.wrap-icon
				i
					font-size: 50px

			

@media only screen and (max-width : 375px)
	#wrapwrap
		.news-sect
			.col-item-news
				width: 100%
				.wrap-target-other-news
					display: none
				.other-link
					display: block
					padding: 0 5px
			.wrap-first-news
				height: 180px
				.wrap-news-content
					.news-content
						time,h3
							font-size: 14px
							line-height: 17px
		.infographics-sect
			.wrap-infographics-content
				img
					width: 125px
					height: 125px
				strong
					font-size: 26px
				p
					font-size: 13px

@media only screen and (max-width : 359px)
	#wrapwrap
		.head-content 
			.main-title-wrap 
				.main-title
					font-size: 10px
					line-height: 12px
					padding: 5px 0
		// .wrap-events-list 
		// 	.wrap-events-date-filter 
		// 		ul 
		// 			li
		// 				margin-right: 0

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	#wrapwrap
		.mobile-menu-button-wrap
			display: none
		.mobile-main-logo
			display: none


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1260px)
	/**/


/* for 1600px */
@media only screen and (min-width : 1580px)
	/**/


/* for 1920px */
@media only screen and (min-width : 1900px)
	/**/
