$default-font: "OpenSans-Regular"

// main accent color
$blue: #28429b

// background colors
$dark-blue: darken($blue, 5%)
$light-bgc: #e6eaf6
$grey-bgc: #f7f7f7

$light-blue: #445caa
$purple-bgc: rgba(237, 236, 355, .7)

// fonts colors
$default-color: #222
$grey-font: #444
$light-grey-font: #eee

$yellow: #ffe082
$accent-links: #ea2f1c


// border, lines color
$light-border: #b5bfd8
$dark-line: #aaa // dark grey
$light-grey-line: #dbdbdb//light grey
$light-line: rgba(255,255,255,.2) // for main accent color

// other
$main-trans: .25s ease-out
$bg-text-shadow: 2px 2px 1px rgba(0,0,0,.6)