$default-font: "OpenSans-Regular"
$default-color: #222


$blue: #314177
$dark-blue: #253666

$light-blue: #445caa
$purple-bgc: rgba(237, 236, 355, .7)

$yellow: #ffe082
$grey-bgc: #f7f7f7
$accent-links: #ea2f1c


$dark-line: #aaa
$light-line: rgba(255,255,255,.2)

$main-trans: .25s ease-out

$text-shadow: 1px 1px 1px rgba(0,0,0,.4)

/* v1 colors */