@import "fonts"
@import "libs"
@import "vars"

@import "global-styles"


/* HEADER */
.main-head
	color: #fff
	// margin-bottom: 20px
.top-line
	background-color: $dark-blue
	position: relative
	border-bottom: 1px solid $light-line
	padding: 5px 0
	.main-logo-wrap, .quick-links-wrap, .res-links-wrap, .flag-links-wrap
		position: relative
		padding: 0 15px
		float: left
		min-height: 1px
	.main-logo-wrap
		width: 226px
		padding: 0
	.quick-links-wrap
		width: 1191px
		padding: 10px 15px 10px 25px
	.res-links-wrap
		width: 371px
	.flag-links-wrap
		width: 76px
	.main-logo
		width: 226px
		height: 233px
		background-color: #fff
		border-radius: 0 0 50% 50%
		position: absolute
		display: block
		top: -10px
		left: 0
		box-shadow: 0 2px 4px rgba(0,0,0,0.3)
		padding: 20px 13px 10px 13px
		// margin-right: 25px
		img
			width: 200px
			height: 200px
	.quick-links
		a
			font-size: 14px
			font-family: "OpenSans-Regular", sans-serif
			color: $yellow
			margin-right: 25px
			border-bottom: 1px solid  $yellow
			transition: color $main-trans, border-bottom-color $main-trans
			&:hover,&:focus
				text-decoration: none
				border-bottom: 1px solid transparent
	.res-links
		.dropdown
			text-align: right
			.dropdown-menu
				padding: 10px 15px
				a
					font-size: 13px
		.res-links-btn
			padding: 0
			background: none
			border: none
			color: $yellow
			padding: 10px 0
	.flag-links
		img
			width: 40px
			height: 30px
		.btn-ru, .dropdown-flags, a, li
			padding: 0
			border: 0
			margin: 0
		.btn-ru
			padding: 5px 3px
			background-color: transparent
		.dropdown-flags
			top: auto
			li
				padding: 5px 3px
				a
					&:hover,
					&:focus,
					&:active
						transform: none
	.flag-links.open
		.btn-ru
			background-color: #f7f7f7
		img
			box-shadow: 0 0 3px rgba(0,0,0,.6)
				


.head-content
	padding: 35px 0 70px 0
	background-color: $blue
	.row
		margin-right: 0
	.main-title
		margin: 0 0 0 250px
		display: inline-block
		text-shadow: 1px 1px 1px rgba(0,0,0,.4)
	.other-func
		background: $dark-blue
		float: right
		padding: 20px 25px
		a
			font-size: 24px
			font-family: "MyriadPro-SemiBold", sans-serif
			display: block
			margin-bottom: 15px
			text-decoration: none
			border: none
			color: #fff
			i
				margin-right: 10px
			&:hover, &:focus
				color: $yellow
		a.info-uni
			font-family: "MyriadPro-Regular", sans-serif
			font-size: 20px
			color: $yellow
			border-bottom: 1px solid $yellow
			transition: color $main-trans, border-bottom-color $main-trans
			margin-bottom: 0
			&:hover, &:focus
				border-bottom: 1px solid transparent

.reshetnev
	text-transform: none
	display: block
	margin-top: 5px
	font-family: "MyriadPro-Regular", sans-serif
	font-size: 30px
	margin-bottom: 0

.nav
	.pers-account,
	.edu-curriculum
		display: none
	
.navbar
	background-color: $dark-blue
	border-top: 1px solid rgba(255,255,255,0.3)
	border-bottom: 1px solid rgba(255,255,255,0.3)
	border-radius: 0
	padding: 0
	margin-bottom: 0
	min-height: 0
	.container
		padding: 0
	.navbar-header
		margin: 0
	.navbar-nav
		margin: 0
		>li
			>a
				border-bottom: none
				&:hover,
				&:focus
					color: $yellow
	.navbar-collapse
		margin: 0
		border: 0
		// box-shadow: 0 5px 5px -5px rgba(0,0,0,.4)

.dropdown-menu
	margin-bottom: 0
	background-color: #f7f7f7
	padding: 10px 20px 20px 20px
	border-radius: 0
	border: none
	li
		background-color: #f7f7f7
		border-bottom: 1px solid $dark-line
		a
			color: #314177
			text-transform: none
			padding: 8px 8px 8px 0px
			font-family: "OpenSans-Regular", sans-serif
			border: none
			transition: transform $main-trans
		&:last-child
			border-bottom: none

/* END HEADER */

/* TARGET NAV and SLIDER */
.navaslider
	// height: 550px
	position: relative
	background-color: $dark-blue
	margin-bottom: 20px
	// .container, .row
	// 	margin: 0
	// 	padding: 0

.wrap-target-menu
	height: 550px
	width: 320px
	box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, 0.2)
	position: absolute
	z-index: 1
	background-color: $dark-blue
.target-menu
	ul
		list-style-type: none
		padding: 0
		margin: 0
		padding-left: 15px
		a
			color: #fff
	// background-color: $dark-blue
	// position: absolute
	// display: inline-block
	// a
	// 	color: #fff

.wrap-main-slider
	left: 320px
	position: relative
.main-slider
	.slider-item
		position: relative
		height: 550px
		float: left
		width: 100%
		.slide-img
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100%
			background-size: cover
			&::before
				content: ''
				background-color: rgba(0,0,0,0.1)
				top: 0
				left: 0
				width: 100%
				height: 100%
				position: absolute

/* END TARGET NAV and SLIDER */

/* SECTIONS NEWS */
.grid-news
	// height: 550px
	.col-first-news
		padding-left: 0
		padding: 10px
	.col-other-news
		padding: 0
	.col-md-8
		padding: 10px
	.wrap-item-news
		a

			&:hover, &:focus



.wrap-div1,
.wrap-div2
	width: 49%
	display: inline-block
.wrap-div1
	background-color: blue
.div1
	float: right
	width: 320px
	background-color: yellow

/* END SECTIONS */


/* FOOTER */
.main-footer
	height: 400px


/* END FOOTER */


@import "media"

