@import "fonts"
@import "libs"
@import "vars"

@import "global-styles"


/* HEADER */
#wrapwrap
	.main-head
		color: #fff
	.top-line
		background-color: $dark-blue
		position: relative
		border-bottom: 1px solid $light-line
		padding: 2px 0
		.container
			padding: 0
		.top-line-left-content
			float: left
		.top-line-right-content
			float: right
		.main-logo-wrap, .quick-links-wrap, .res-links-wrap, .flag-links-wrap
			position: relative
			padding: 0 15px
			float: left
			min-height: 1px
		.main-logo-wrap
			width: 226px
			padding: 0
		.quick-links-wrap
			padding: 10px 15px 10px 25px
		.flag-links-wrap
			width: 61px
			padding-right: 0
			button.btn
				border-radius: 0
		.main-logo
			width: 226px
			height: 233px
			background-color: #fff
			border-radius: 0 0 50% 50%
			position: absolute
			display: block
			top: -2px
			left: 0
			box-shadow: 0 2px 4px rgba(0,0,0,0.3)
			padding: 20px 13px 10px 13px
			img
				width: 200px
				height: 200px
		.quick-links
			a
				font-size: 14px
				font-family: "OpenSans-Regular", sans-serif
				color: $yellow
				margin-right: 25px
				border-bottom: 1px solid  $yellow
				transition: color $main-trans, border-bottom-color $main-trans
				&:hover,&:focus
					text-decoration: none
					border-bottom: 1px solid transparent
		.res-links
			.dropdown
				text-align: right
				z-index: 1000
				.dropdown-menu
					min-width: 320px
					padding: 10px 15px
					margin: 0
					right: 0
					box-shadow: 0 5px 10px -5px rgba(0,0,0,.5)
					a
						font-size: 13px
				.res-links-btn
					background: none
					border: none
					color: $yellow
					padding: 10px 15px
			.dropdown.open
				.res-links-btn
					background-color: #f7f7f7
					color: $blue
					border-radius: 0
		.flag-links
			img
				width: 40px
				height: 30px
			.btn-ru, .dropdown-flags, a, li
				padding: 0
				border: 0
				margin: 0
			.btn-ru
				padding: 5px 3px
				background-color: transparent
			.dropdown-flags
				top: auto
				min-width: auto
				li
					padding: 5px 3px
					a
						&:hover,
						&:focus,
						&:active
							transform: none
		.flag-links.open
			.btn-ru
				background-color: #f7f7f7
			img
				box-shadow: 0 0 3px rgba(0,0,0,.6)
					
.head-content
	padding: 35px 0 55px 0
	background-color: $blue
	.container
		padding: 0
	.main-title-wrap
		display: inline-block
		a
			color: #fff
	.main-title
		margin: 0 0 0 250px
		text-shadow: $text-shadow
	.other-func
		background: $dark-blue
		float: right
		padding: 12px 25px
		a
			font-size: 24px
			font-family: "MyriadPro-SemiBold", sans-serif
			display: block
			margin: 10px 0
			text-decoration: none
			border: none
			color: #fff
			i
				margin-right: 10px
			&:hover
				color: $yellow
		a.info-uni
			font-family: "MyriadPro-Regular", sans-serif
			font-size: 20px
			color: $yellow
			border-bottom: 1px solid $yellow
			transition: color $main-trans, border-bottom-color $main-trans
			&:hover
				border-bottom: 1px solid transparent

.reshetnev
	text-transform: none
	display: block
	margin-top: 5px
	font-family: "MyriadPro-Regular", sans-serif
	font-size: 30px
	margin-bottom: 0
/* END HEADER */


/* TARGET NAV and SLIDER */
.navaslider
	height: 550px
	position: relative
	background-color: $dark-blue
	border-bottom: 1px solid $light-line
.wrap-navaslider-content
	position: relative
	>div
		float: left
.dekstop-target-menu
	z-index: 5
	height: 550px
	width: 275px
	box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, 0.2)
	padding: 20px 30px 30px 0
	display: inline-block
.wrap-target-menu
	margin: 0
	padding: 0
	list-style-type: none
	li
		border-bottom: 1px solid $light-line
		&:last-child
			border-bottom: none
		a
			color: #fff
			padding: 15px 0
			display: block
			font-size: 26px
			text-transform: uppercase
			font-family: "OpenSansCondensed-Bold", sans-serif
			letter-spacing: 1px
			border-bottom: none
			&:hover
				color: $yellow
			i
				position: relative
				width: 45px
			i.icon-academec
				width: 38px

.main-slider.owl-carousel
	position: absolute
	height: 550px
	left: 275px
	.owl-stage-outer
		height: 100%
		.owl-stage
			height: 100%
			.owl-item
				height: 100%
				.wrap-main-slide
					height: 100%
					&:before
						content: ''
						background-color: rgba(0,0,0,0.15)
						top: 0
						left: 0
						width: 100%
						height: 100%
						position: absolute
					.slide-img
						width: 100%
						height: 100%
						background-size: cover
						background-position: top center 
	// .owl-dots
	// 	position: absolute
	// 	bottom: 5px
	// 	.owl-dot
	// 		float: left
	// 		display: inline-block
	// 		width: 20px
	// 		height: 20px
	// 		margin: 5px
	// 		border-radius: 50%
	// 		border: 3px solid $yellow
	// 		box-shadow: 
	// 	.owl-dot.active
	// 		background-color: $yellow
/* END TARGET NAV and SLIDER */



/* SECTION NEWS */
.news-sect
	.row-news
		margin: 0 -5px
	h2
		margin: 0 0 35px 0
	.col-item-news
		padding: 0
		.other-link
			display: none
	.wrap-item-news
		height: 250px
		position: relative
		display: block
		overflow: hidden
		padding: 5px
		width: 100%
		a
			display: block
			position: relative
			overflow: hidden
			border-bottom: none
			height: 100%
			width: 100%
			&:hover
				.news-img
					transform: scale(1.08)
			.news-img
				width: 100%
				height: 100%
				background-size: cover
				background-position: top center
				position: absolute
				transition: transform 1.5s ease-out
		.wrap-news-content
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			padding: 5%
			color: #fff
			&::before
				content: ''
				background-color: rgba(0,0,0,.2)
				top: 0
				left: 0
				width: 100%
				height: 100%
				position: absolute
			.news-content
				position: relative
				display: block
				width: 100%
				height: 100%
				time,h3
					position: absolute
					font-size: 18px
					line-height: 21px
					font-family: "MyriadPro-Semibold", sans-serif
					text-shadow: 3px 3px 3px rgba(0,0,0,.9)
					margin: 0
				time
					top: 0
				h3
					bottom: 0
	.wrap-first-news
		height: 500px
		img
			height: 500px
		.wrap-news-content
			padding: 5%
			.news-content
				time,h3
					font-size: 28px
					line-height: 34px
	.wrap-target-other-news
		width: 100%
		text-align: center
		.target-other-news
			display: block
			width: 100%
			height: 100%
			background-color: $blue
			border: 10px solid $dark-blue
			&:before
				background-color: transparent
			&:hover, &:focus
				span
					color: $yellow
			span
				color: #fff
				font-size: 24px
				display: inline-block
				text-transform: uppercase
				font-family: "MyriadPro-Bold", sans-serif
				position: relative
				top: 50%
				transform: translateY(-50%)
				transition: color $main-trans, text-indent $main-trans
/* END SECTION NEWS */


/* SECTION EVENT */
.event-item
	padding: 0 20px
	.wrap-date-event
		border-bottom: 1px solid $dark-line
		padding-bottom: 10px
		.calendar-icon
			display: inline-block
			position: relative
			width: 80px
			height: 75px
			background-color: #ebf0f2
			border-radius: 7px
			box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
			overflow: hidden
			margin-right: 10px
			span
				display: block
				position: absolute
				top: 0
				width: 100%
				height: 22px
				color: #fff
				background-color: #ff4b39
				box-shadow: 0 2px 0 #ea402e
				border-radius: 7px 7px 0 0
				&:before, &:after
					content: ''
					display: block
					position: absolute
					width: 12px
					height: 12px
					background-color: #eee
					border: 5px solid #ea402e
					border-radius: 50%
					z-index: 3
					top: 55%
					transform: translateY(-50%)
				&:before
					left: 8px
				&:after
					right: 8px
			strong
				width: 100%
				font-size: 
				color: #333
				position: absolute
				font-family: "MyriadPro-Bold", sans-serif
				font-size: 32px
				height: 100%
				text-align: center
				padding-top: 26px
		.event-month
			font-size: 28px
			font-family: "MyriadPro-Semibold", sans-serif
			display: inline-block
			position: relative
			color: #333;
			top: 50%
			transform: translateY(-50%)
	.event-content
		h3
			margin: 15px 0
			font-size: 21px
			line-height: 26px
			a
				color: $default-color
				border-color: transparent
				transition: border-bottom $main-trans
				text-decoration: none
				&:hover, &:focus
					border-color: $default-color
					text-decoration: none
		p
			margin: 0
			font-size: 17px
/* END SECTION EVENT */



/* SECTION RECTOR */
.rector-sect
	.wrap-rector-img
		border: 16px solid $dark-blue
	.wrap-rector-content
		margin: 30px 0 0 0
		font-size: 18px
		line-height: 24px
		font-family: "MyriadPro-Regular", sans-serif
		border-radius: 1px
		strong
			font-size: 20px
			display: block
			margin-bottom: 20px
		span
			font-family: "MyriadPro-Semibold", sans-serif
	.signature-rector
		display: block
		text-align: right
		font-family: "MyriadPro-SemiBoldItalic", sans-serif
		font-size: 20px
		margin: 40px 0 0 0

/* END SECTION RECTOR */



/* SECTION INFOGRAPFICS */
.infographics-sect
	padding-bottom: 0
	.wrap-infographics-items
		text-align: center
	.wrap-infographics-content
		text-align: center
		color: #444
		margin-bottom: 50px
		img
			width: 170px
			height: 170px
			display: inline-block
		strong
			display: block
			margin: 25px 0 5px 0
			font-size: 36px
			font-family: "MyriadPro-SemiBold", sans-serif
		p
			margin: 0 0 50px 0
			font-size: 17px
/* END SECTION INFOGRAPFICS */



/* SECTION STUDENTS COMMENT */
.comment-students-sect
	.comment-student-slider
		.owl-dots
			margin-top: 30px
			text-align: center
			.owl-dot
				width: 15px
				height: 15px
				background-color: #fff
				display: inline-block
				border-radius: 50%
				margin: 0 5px
			.owl-dot.active
				background-color: $yellow
	.wrap-comment
		padding: 0 20px
	.wrap-comment-img
		float: left
		margin: 0 15px 15px 0
		border: 12px solid $dark-blue
		border-radius: 1px
		img
			width: 180px
			height: 270px
	.wrap-comment-content
		font-size: 15px
		line-height: 20px
		p
			margin: 0
			padding: 20px 0
		span
			display: block
			text-align: right
			font-size: 16px
			font-family: "MyriadPro-Italic", sans-serif
/* END SECTION STUDENTS COMMENT */



/* SECTION COMPANY - PARTNERS */
.pa-sect
	padding-bottom: 20px
	.col-md-6
		text-align: center
	.wrap-pa-item
		text-align: center
		display: inline-block
		img
			width: 210px
			height: 120px
			margin: 0 auto
			border-radius: 0
		strong
			font-weight: 500
			font-size: 22px
			line-height: 26px
			color: #444
			display: block
			margin-top: 25px
	.owl-carousel
		display: block
		margin-bottom: 30px
	.owl-dots
		text-align: center
		margin-top: 30px
		.owl-dot
			width: 15px
			height: 15px
			background-color: #fff
			display: inline-block
			border-radius: 50%
			border: 1px solid $blue
			margin: 0 5px
		.owl-dot.active
			background-color: $blue

/* END SECTION COMPANY - PARTNERS */



/* FOOTER */

#wrapwrap 
	>footer
		background-color: $blue
		color: #fff
		a
			color: #fff
			border-bottom: 1px solid #fff
			transition: color $main-trans, border-bottom-color $main-trans
			margin-top: 20px
			&:hover, &:focus, &:active
				border-color: $yellow
				color: $yellow
		ul
			margin: 0
			padding: 0
			list-style-type: none
		address
			font-style: normal
			font-family: "OpenSans-Regular", sans-serif
		.foot-first-level
			padding: 50px 0 20px 0
		.wrap-foot-level
			margin: 0
			.col-md-6
				padding: 0 30px
				&:first-child
					padding-left: 0
				&:last-child
					padding-right: 0
		.first-foot-line
			padding-bottom: 50px
			border-bottom: 1px solid $light-line
		.second-foot-line
			padding: 40px 0
			h5
				margin: 0 0 15px 0
				font-size: 20px
				text-transform: uppercase
				font-family: "OpenSans-Semibold", sans-serif
			.col-md-6
				&:nth-child(2)
					border-right: 1px solid $light-line
		.wrap-foot-links
			list-style-type: none
			padding: 0
			margin: 0
			li
				display: block
				padding: 7px 0
		.second-foot-line
			.foot-contacts-content
				li
					display: block
					margin-bottom: 15px
					font-size: 15px
			.foot-contacts-content-col-2
				margin-top: 41px
				strong
					font-weight: normal
					font-family: "OpenSans-Semibold", sans-serif
		.wrap-foot-contancts
			.foot-feedback
				p
					font-size: 14px
					margin: 0
				.button-light-blue
					padding: 8px 16px
					background-color: #4f8fcd
					display: inline-block
					border: 2px solid lighten(#4f8fcd, 5%)
					border-radius: 2px
					text-transform: uppercase
					font-family: "OpenSans-Semibold", sans-serif
					&:hover, &:focus
						background-color: lighten(#4f8fcd, 2%)
						color: #fff
					&:active
						background-color: darken(#4f8fcd, 5%)
						color: #fff
			.foot-social-list
				margin: 0
				padding: 0
				li
					display: inline-block
					margin-right: 12px
				a
					border: none
				img
					width: 40px
					height: 40px
		.foot-second-level
			padding: 30px 0
			background-color: $dark-blue
			border-top: 1px solid $light-line
			.uit
				text-align: right
/* END FOOTER */


/* NEWS PAGE */
.wrap-cards-news
	.wrap-card-item-news
		background-color: $grey-bgc
		margin: 15px 0
		.wrap-news-img
			overflow: hidden
			height: 280px
			display: block
			position: relative
		.news-img
			width: 100%
			height: 100%
			display: block
			background-size: cover
			background-position: top center
			transition: transform 1.5s ease-out
		a
			display: block
			overflow: hidden
			border: none
			&:hover
				.news-img
					transform: scale(1.08)
		.other-link
		.wrap-news-content
			display: block
			padding: 0 15px
			margin: 30px 0
			color: $default-color
			time
				display: block
				font-size: 17px
				color: #555
			.wrap-news-title
				display: block
				margin: 15px 0 20px 0
				h3
					font-size: 20px
					display: inline
					border-bottom: 1px solid transparent
					transition: border-color $main-trans
					&:hover
						border-bottom: 1px solid $default-color
			p
				margin: 0
		.wrap-other-link
			display: block
			font-size: 20px
			padding: 0 15px 30px 15px
			&:hover
				.other-link
					border-color: transparent
			.other-link
				margin: 0
				transition: border-color $main-trans
				border-bottom: 1px solid $dark-blue
				font-size: 18px

#div_nav_panel
	padding: 0
	margin: 10px 0
	#nav_panel
		margin: 0
		padding: 0
		text-align: center
		li
			display: inline-block
			button
				display: block
				width: 40px
				height: 40px
				border: 1px solid $dark-line
				font-family: "OpenSans-SemiBold", sans-serif
				padding: 0
				font-size: 18px
				line-height: 18px
				margin: 3px
				transition: background-color $main-trans, color $main-trans
				cursor: pointer
				border-radius: 0
				&:hover
					background-color: $blue
					color: #fff
			button.active
				background-color: $dark-blue
				color: #fff
		
/* END NEWS PAGE */


/* MEGA NEWS PAGE */
.wrap-mega-news
	.wrap-mega-img
		height: 800px
		position: relative
		overflow: hidden
		top: -30px
		.mega-img
			width: 100%
			height: 100%
			background-position: center -50px
			background-size: cover
			position: absolute
			&::before
				content: ''
				background-color: rgba(0, 0, 0, 0.2)
				top: 0
				left: 0
				right: 0
				bottom: 0
				width: 100%
				height: 100%
				position: absolute
		.container
			position: relative
			height: 100%
			padding: 0
		.wrap-mega-img-content
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100%
			color: #fff
			padding: 30px 15px
			.mega-img-content
				position: relative
				width: 100%
				height: 100%
				top: 0
				left: 0
				right: 0
				bottom: 0
				time, .mega-title
					font-family: "MyriadPro-Semibold", sans-serif
					font-size: 40px
					line-height: 48px
					text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9)
					position: absolute
				time
					top: 0
				.mega-title
					bottom: 0
					margin-bottom: 0
	.wrap-mega-content
		margin-top: -10px
/* END MEGA NEWS PAGE */


/* COMMON NEWS PAGE */
.common-news
	.inner-title
		text-transform: none
	.date-public
		font-size: 17px
		display: block
		margin-bottom: 30px
		color: #555
		border-bottom: 1px solid #aaa
		padding-bottom: 10px
/* END COMMON NEWS PAGE */


/* EVENTS LIST PAGE */
.wrap-events-list
	.wrap-events-category
		background-color: $grey-bgc
		ul
			list-style-type: none
			margin: 0
			padding: 0
		li
			border-bottom: 1px solid $dark-line
			&:last-child
				border-bottom: none
			&.active
				a
					background-color: $blue
					color: #fff
			a
				border: none
				color: $blue
				padding: 16px 20px
				text-transform: uppercase
				position: relative
				display: block
				font-size: 17px
				font-family: "OpenSans-Semibold", sans-serif
				transition: background-color $main-trans
				&:hover
					background-color: $blue
					color: #fff
				span
					display: inline-block
				i
					// position: absolute
					// right: 0
					// font-size: 24px
	.wrap-events-date-filter
		border-bottom: 1px solid $dark-line
		margin-bottom: 30px
		ul
			list-style-type: none
			margin: 0 0 15px 0
			padding: 0
			margin-bottom: 15px
			li
				display: inline-block
				margin-right: 12px
			li.active
				a
					color: #fff
					background-color: $blue
			a
				border: none
				text-transform: lowercase 
				color: $default-color
				font-size: 16px
				padding: 4px 8px
				transition: background-color $main-trans
				&:hover
					background-color: $blue
					color: #fff
	.wrap-events-content
		.table-events
			table-layout: auto
			thead
				th
					text-transform: uppercase
					font-family: "OpenSans-Semibold", sans-serif
					font-weight: normal
				th:first-child
					width: 150px
				th.fix-width-180
					width: 180px
			tbody
				td
					padding: 16px 8px
				time
					display: block
					span:first-child
						margin-bottom: 5px
						display: inline-block
				.event-title
					a
						color: $default-color
						border-color: $default-color
						&:hover
							border-color: transparent
/* END EVENTS LIST PAGE */


/* EVENT PAGE */
.wrap-event-content
	.inner-title
		text-transform: none
	.event-category
		font-size: 17px
		display: block
		margin-bottom: 30px
		color: #555
		border-bottom: 1px solid #aaa
		padding-bottom: 10px
	.event-date,
	.event-location,
	.event-contact
		margin-bottom: 10px
		strong
			display: block
	.event-text
		margin: 20px 0

/* END EVENT PAGE */


/* DIS PAGE */
.wrap-dis-page
	.dis-title
		text-transform: none
	.dis-meta-info
		i
			margin-right: 8px
	.dis-meta-info
		border-bottom: 1px solid $dark-line
		padding-bottom: 5px
		.dis-link
			a
	.dis-text
		margin: 20px 0 30px 0
	.dis-docs
		background-color: $grey-bgc
		padding: 25px
		margin-bottom: 15px
		h3
			margin-top: 0
			font-size: 20px
			text-transform: uppercase
			font-family: "OpenSans-SemiBold", sans-serif
		ul
			padding-left: 15px
			margin: 0
			li
				margin-bottom: 5px
				a
					color: $blue
					border-color: $blue
					&:hover
						border-color: transparent
/* END DIS PAGE */

/* YA MAPS */
.list-filials
	margin-bottom: 30px
	>ul
		list-style-type: none
		margin: 0
		padding: 0
		>li
			margin-bottom: 30px
			>a
				text-transform: uppercase
				border-bottom: none
				cursor: default
			>ol
				padding-left: 40px
				list-style-type: decimal
/* END YA MAPS */
@import "media"
