@import "vars"


html.font-size-normal
	font-size: 100%

html.font-size-medium
	font-size: 120%

html.font-size-large
	font-size: 150%


@import "spec-sersion/white-theme"
@import "spec-sersion/black-theme"
@import "spec-sersion/blue-theme"


@import "spec-sersion/disable-img"